Repository amauryconstant/germinator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, lint, test, create-version-tag, release, mirror-to-github

build-ci-image:
  stage: build-ci
  image:
    name: docker:29.1.4-cli
  services:
  - name: docker:29.1.4-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    CI_REGISTRY: registry.gitlab.com
    CI_REGISTRY_IMAGE: $CI_REGISTRY/amoconst/germinator/ci
  before_script:
  - apk add --no-cache curl
  ...

lint:
  stage: validate
  needs:
  - setup
  cache:
    key:
      files:
      - .cache-key
    paths:
    - .cache/go-mod/
    - .go/pkg/mod/
    policy: pull
  interruptible: true
  script:
  - golangci-lint run

test:
  stage: validate
  needs:
  - setup
  cache:
    key:
      files:
      - .cache-key
    paths:
    - .cache/go-mod/
    - .go/pkg/mod/
    policy: pull
  script:
  - go test ./... -v

create-version-tag:
  stage: tag
  variables:
    GIT_STRATEGY: clone
  before_script:
  - git config user.email "$GITLAB_USER_EMAIL"
  - git config user.name "$GITLAB_USER_NAME"
  - git remote set-url origin "https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/amoconst/germinator"
  script:
  ...

release:
  stage: distribute
  needs:
  - lint
  - test
  image:
    name: goreleaser/goreleaser
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 0
    GITLAB_TOKEN: $CI_JOB_TOKEN
  before_script:
  ...

mirror-to-github:
  stage: distribute
  needs:
  - create-version-tag
  variables:
    GIT_STRATEGY: fetch
  script:
  - git remote add github "https://${GITHUB_ACCESS_TOKEN}@github.com/${GITHUB_REPO_URL}.git" || true
  - git push github "$CI_COMMIT_BRANCH" --force
  - git push github --tags --force
  interruptible: true

Fix remaining imports after domain restructure and complete task 8
  internal/config/manager.go
  internal/core/loader.go
  internal/core/loader_test.go
  internal/validation/opencode/validators.go
  openspec/changes/domain-restructure/tasks.md
Due: none

Complete domain-restructure verification and documentation updates
  .golangci.yml
  AGENTS.md
  internal/AGENTS.md
  internal/application/AGENTS.md
  openspec/changes/domain-restructure/tasks.md
Due: none

Create domain package documentation and complete domain-restructure tasks
  internal/domain/AGENTS.md
  openspec/changes/domain-restructure/tasks.md
Due: none

Sync domain-restructure specs to main
  openspec/specs/domain-structure/spec.md
Due: none

Archive change domain-restructure
  openspec/changes/archive/2026-03-19-domain-restructure/.openspec.yaml
  openspec/changes/archive/2026-03-19-domain-restructure/decision-log.json
  openspec/changes/archive/2026-03-19-domain-restructure/design.md
  openspec/changes/archive/2026-03-19-domain-restructure/domain-structure/spec.md
  openspec/changes/archive/2026-03-19-domain-restructure/iterations.json
  openspec/changes/archive/2026-03-19-domain-restructure/osx-orchestrate.log
  openspec/changes/archive/2026-03-19-domain-restructure/proposal.md
  openspec/changes/archive/2026-03-19-domain-restructure/reflections.md
  openspec/changes/archive/2026-03-19-domain-restructure/specs/domain-structure/spec.md
  openspec/changes/archive/2026-03-19-domain-restructure/tasks.md
  openspec/changes/archive/2026-03-19-domain-restructure/verification-report.md
Due: none

Refactor test framework and enhance code documentation
  .mise/config.toml
  cmd/completions.go
  cmd/completions_test.go
  cmd/config.go
  cmd/doc.go
  cmd/error_handler.go
  cmd/library_test.go
  cmd/version.go
  internal/adapters/claude-code/claude_code_adapter.go
  internal/adapters/claude-code/doc.go
  internal/adapters/helpers.go
  internal/adapters/opencode/doc.go
  internal/adapters/opencode/opencode_adapter.go
  internal/config/manager.go
  internal/core/integration_test.go
  internal/core/loader.go
  internal/core/parser.go
  internal/core/test_helpers.go
  internal/domain/errors.go
  internal/domain/opencode/validators.go
  internal/domain/pipeline.go
  internal/domain/pipeline_test.go
  internal/domain/platform.go
  internal/domain/result.go
  internal/library/discovery.go
  internal/library/discovery_test.go
  internal/library/library.go
  internal/library/resolver.go
  internal/models/constants.go
  internal/services/canonicalizer.go
  internal/services/canonicalizer_golden_test.go
  internal/services/initializer.go
  internal/services/transformer.go
  internal/services/transformer_golden_test.go
  internal/services/validator.go
  internal/version/version.go
  main.go
  test/AGENTS.md
Due: build-ci-image, lint, test, create-version-tag, release, mirror-to-github

Restructure infrastructure-restructure artifacts for AI implementation
  openspec/changes/infrastructure-restructure/design.md
  openspec/changes/infrastructure-restructure/proposal.md
  openspec/changes/infrastructure-restructure/specs/infrastructure-structure/spec.md
  openspec/changes/infrastructure-restructure/tasks.md
Due: none

Move adapters package to infrastructure/adapters
  internal/core/platform_parser.go
  internal/core/serializer.go
  internal/infrastructure/adapters/adapter.go
  internal/infrastructure/adapters/claude-code/claude_code_adapter.go
  internal/infrastructure/adapters/claude-code/claude_code_adapter_test.go
  internal/infrastructure/adapters/claude-code/doc.go
  internal/infrastructure/adapters/helpers.go
  internal/infrastructure/adapters/helpers_test.go
  internal/infrastructure/adapters/opencode/doc.go
  internal/infrastructure/adapters/opencode/opencode_adapter.go
  internal/infrastructure/adapters/opencode/opencode_adapter_test.go
  openspec/changes/infrastructure-restructure/tasks.md
Due: none

Move config package to infrastructure/config
  cmd/completions.go
  cmd/completions_test.go
  internal/infrastructure/config/config.go
  internal/infrastructure/config/config_test.go
  internal/infrastructure/config/manager.go
  internal/infrastructure/config/manager_test.go
  openspec/changes/infrastructure-restructure/tasks.md
Due: none

Move library package to infrastructure/library
  cmd/completions.go
  cmd/completions_test.go
  cmd/init.go
  cmd/library.go
  cmd/library_formatters.go
  internal/application/requests.go
  internal/infrastructure/library/discovery.go
  internal/infrastructure/library/discovery_test.go
  internal/infrastructure/library/library.go
  internal/infrastructure/library/library_test.go
  internal/infrastructure/library/lister.go
  internal/infrastructure/library/lister_test.go
  internal/infrastructure/library/loader.go
  internal/infrastructure/library/loader_test.go
  internal/infrastructure/library/resolver.go
  internal/infrastructure/library/resolver_test.go
  internal/services/initializer.go
  internal/services/initializer_test.go
  openspec/changes/infrastructure-restructure/tasks.md
Due: none

Move parsing and serialization to infrastructure
  internal/core/doc.go
  internal/core/template_funcs.go
  internal/infrastructure/parsing/doc.go
  internal/infrastructure/parsing/integration_test.go
  internal/infrastructure/parsing/loader.go
  internal/infrastructure/parsing/loader_test.go
  internal/infrastructure/parsing/parser.go
  internal/infrastructure/parsing/parser_test.go
  internal/infrastructure/parsing/platform_parser.go
  internal/infrastructure/parsing/platform_parser_test.go
  internal/infrastructure/parsing/test_helpers.go
  internal/infrastructure/serialization/serializer.go
  internal/infrastructure/serialization/serializer_test.go
  internal/infrastructure/serialization/template_funcs.go
  internal/services/canonicalizer.go
  internal/services/initializer.go
  internal/services/transformer.go
  internal/services/validator.go
Due: lint, test, release, mirror-to-github

Rename services to service
  cmd/container.go
  internal/service/AGENTS.md
  internal/service/canonicalizer.go
  internal/service/canonicalizer_golden_test.go
  internal/service/canonicalizer_test.go
  internal/service/doc.go
  internal/service/initializer.go
  internal/service/initializer_test.go
  internal/service/transformer.go
  internal/service/transformer_golden_test.go
  internal/service/transformer_test.go
  internal/service/validator.go
  internal/service/validator_test.go
Due: lint, test, release, mirror-to-github

Remove empty directories after restructure
  internal/adapters/AGENTS.md
  internal/config/AGENTS.md
  internal/core/AGENTS.md
  internal/library/AGENTS.md
Due: lint, test, release, mirror-to-github

fix: resolve template paths when running tests from package directory
  cmd/cmd_test.go
  internal/infrastructure/serialization/serializer.go
  openspec/changes/infrastructure-restructure/tasks.md
Due: none

Update documentation for infrastructure-restructure
  AGENTS.md
  config/AGENTS.md
  internal/AGENTS.md
  internal/application/AGENTS.md
  internal/domain/AGENTS.md
  internal/models/AGENTS.md
  internal/service/AGENTS.md
  test/AGENTS.md
Due: lint, test, release, mirror-to-github

Sync infrastructure-restructure specs to main
  openspec/specs/infrastructure-structure/spec.md
Due: none

Complete self-reflection for infrastructure-restructure
  openspec/changes/infrastructure-restructure/reflections.md
Due: none

Archive change infrastructure-restructure
  openspec/changes/archive/2026-03-19-infrastructure-restructure/.openspec.yaml
  openspec/changes/archive/2026-03-19-infrastructure-restructure/decision-log.json
  openspec/changes/archive/2026-03-19-infrastructure-restructure/design.md
  openspec/changes/archive/2026-03-19-infrastructure-restructure/iterations.json
  openspec/changes/archive/2026-03-19-infrastructure-restructure/osx-orchestrate.log
  openspec/changes/archive/2026-03-19-infrastructure-restructure/proposal.md
  openspec/changes/archive/2026-03-19-infrastructure-restructure/reflections.md
  openspec/changes/archive/2026-03-19-infrastructure-restructure/specs/infrastructure-structure/spec.md
  openspec/changes/archive/2026-03-19-infrastructure-restructure/suggestions.md
  openspec/changes/archive/2026-03-19-infrastructure-restructure/tasks.md
  openspec/changes/archive/2026-03-19-infrastructure-restructure/verification-report.md
Due: none

Review and iterate artifacts for comprehensive-linting
  openspec/changes/comprehensive-linting/design.md
  openspec/changes/comprehensive-linting/proposal.md
  openspec/changes/comprehensive-linting/tasks.md
Due: none

Enhance golangci-lint configuration and fix linting errors
  .golangci.yml
  cmd/adapt.go
  cmd/canonicalize.go
  cmd/completions.go
  cmd/error_handler.go
  cmd/init.go
  cmd/library.go
  cmd/library_formatters.go
  cmd/validate.go
  internal/domain/errors.go
  internal/infrastructure/adapters/claude-code/claude_code_adapter.go
  internal/infrastructure/adapters/opencode/opencode_adapter.go
  internal/infrastructure/config/manager.go
  internal/infrastructure/parsing/parser.go
  internal/infrastructure/serialization/serializer.go
  internal/service/initializer.go
  internal/service/transformer.go
  openspec/changes/comprehensive-linting/tasks.md
Due: none

Archive comprehensive-linting change
  openspec/changes/archive/2026-03-20-comprehensive-linting/.openspec.yaml
  openspec/changes/archive/2026-03-20-comprehensive-linting/design.md
  openspec/changes/archive/2026-03-20-comprehensive-linting/proposal.md
  openspec/changes/archive/2026-03-20-comprehensive-linting/specs/comprehensive-linting/spec.md
  openspec/changes/archive/2026-03-20-comprehensive-linting/tasks.md
Due: none

Release v0.7.0
  CHANGELOG.md
Due: lint, test, release, mirror-to-github

Add extract-infrastructure-interfaces OpenSpec change
  openspec/changes/extract-infrastructure-interfaces/.openspec.yaml
  openspec/changes/extract-infrastructure-interfaces/design.md
  openspec/changes/extract-infrastructure-interfaces/proposal.md
  openspec/changes/extract-infrastructure-interfaces/specs/application/dependency-injection/spec.md
  openspec/changes/extract-infrastructure-interfaces/specs/infrastructure-interfaces/spec.md
  openspec/changes/extract-infrastructure-interfaces/tasks.md
Due: none

Add MIT license file
  LICENSE
Due: lint, test, release, mirror-to-github

Suppress false-positive gosec warnings for intentional file operations
  .golangci.yml
  .mise/config.toml
  .pre-commit-config.yaml
  internal/infrastructure/library/loader.go
  internal/infrastructure/parsing/parser.go
  internal/infrastructure/parsing/platform_parser.go
  internal/infrastructure/serialization/serializer.go
  internal/service/canonicalizer.go
  internal/service/initializer.go
  internal/service/transformer.go
Due: build-ci-image, lint, test, release, mirror-to-github

Update openspec-extended to 0.18.2
  .opencode/manifest.json
  .opencode/scripts/osx-orchestrate
Due: lint, test, release, mirror-to-github

Review and iterate artifacts for extract-infrastructure-interfaces
  openspec/changes/extract-infrastructure-interfaces/design.md
  openspec/changes/extract-infrastructure-interfaces/proposal.md
  openspec/changes/extract-infrastructure-interfaces/specs/application/dependency-injection/spec.md
  openspec/changes/extract-infrastructure-interfaces/specs/infrastructure-interfaces/spec.md
  openspec/changes/extract-infrastructure-interfaces/tasks.md
Due: none

Extract infrastructure interfaces for testable services
  cmd/container.go
  internal/application/interfaces.go
  internal/infrastructure/parsing/parser_adapter.go
  internal/infrastructure/serialization/serializer_adapter.go
  internal/service/canonicalizer_test.go
  internal/service/initializer.go
  internal/service/initializer_mock_test.go
  internal/service/initializer_test.go
  internal/service/transformer.go
  internal/service/transformer_golden_test.go
  internal/service/transformer_mock_test.go
  internal/service/transformer_test.go
  openspec/changes/extract-infrastructure-interfaces/tasks.md
  test/mocks/parser_mock.go
  test/mocks/serializer_mock.go
Due: none

Update documentation for infrastructure interface extraction
  internal/application/AGENTS.md
  internal/service/AGENTS.md
  test/mocks/AGENTS.md
Due: lint, test, release, mirror-to-github

Archive extract-infrastructure-interfaces change
  openspec/changes/archive/2026-03-25-extract-infrastructure-interfaces/.openspec.yaml
  openspec/changes/archive/2026-03-25-extract-infrastructure-interfaces/decision-log.json
  openspec/changes/archive/2026-03-25-extract-infrastructure-interfaces/design.md
  openspec/changes/archive/2026-03-25-extract-infrastructure-interfaces/iterations.json
  openspec/changes/archive/2026-03-25-extract-infrastructure-interfaces/osx-orchestrate.log
  openspec/changes/archive/2026-03-25-extract-infrastructure-interfaces/proposal.md
  openspec/changes/archive/2026-03-25-extract-infrastructure-interfaces/reflections.md
  openspec/changes/archive/2026-03-25-extract-infrastructure-interfaces/specs/application/dependency-injection/spec.md
  openspec/changes/archive/2026-03-25-extract-infrastructure-interfaces/specs/infrastructure-interfaces/spec.md
  openspec/changes/archive/2026-03-25-extract-infrastructure-interfaces/tasks.md
  openspec/changes/archive/2026-03-25-extract-infrastructure-interfaces/verification-report.md
  openspec/specs/application/dependency-injection/spec.md
  openspec/specs/infrastructure/interfaces/spec.md
Due: none

Refactor release workflow with shared library and phase-based tasks
  .mise/config.toml
  .mise/tasks/lib/release-lib.sh
  .mise/tasks/release/check
  .mise/tasks/release/prepare
  .mise/tasks/release/tag
  .mise/tasks/release/tag.sh
  .mise/tasks/release/validate.sh
  AGENTS.md
Due: build-ci-image, lint, test, release, mirror-to-github

Update CHANGELOG.md with comprehensive version descriptions
  CHANGELOG.md
Due: lint, test, release, mirror-to-github

Refactor documentation for clarity
  AGENTS.md
  ARCHITECTURE.md
  INSTALL.md
  README.md
  test/AGENTS.md
Due: lint, test, release, mirror-to-github

Fix release task argument passing to subtasks
  .mise/config.toml
Due: build-ci-image, lint, test, release, mirror-to-github

Release v0.8.0
  CHANGELOG.md
Due: lint, test, release, mirror-to-github

Release v0.8.0
  .mise/tasks/lib/release-lib.sh
  CHANGELOG.md
Due: lint, test, release, mirror-to-github

Fix template paths resolving when running tests from package directory
  cmd/cmd_test.go
  internal/infrastructure/serialization/serializer.go
  openspec/changes/infrastructure-restructure/tasks.md
Due: none

Path conditions:
  build-ci-image: any of: Dockerfile.ci, .mise/config.toml
  lint: not (any of: openspec/**/*)
  test: not (any of: openspec/**/*)
  create-version-tag: any of: internal/version/version.go
  release: not (any of: openspec/**/*)
  mirror-to-github: not (any of: openspec/**/*)
