Repository amauryconstant/germinator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, lint, test, create-version-tag, release, mirror-to-github

build-ci-image:
  stage: build-ci
  image:
    name: docker:29.1.4-cli
  services:
  - name: docker:29.1.4-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    CI_REGISTRY: registry.gitlab.com
    CI_REGISTRY_IMAGE: $CI_REGISTRY/amoconst/germinator/ci
  before_script:
  - apk add --no-cache curl
  ...

lint:
  stage: validate
  needs:
  - setup
  cache:
    key:
      files:
      - .cache-key
    paths:
    - .cache/go-mod/
    - .go/pkg/mod/
    policy: pull
  interruptible: true
  script:
  - golangci-lint run

test:
  stage: validate
  needs:
  - setup
  cache:
    key:
      files:
      - .cache-key
    paths:
    - .cache/go-mod/
    - .go/pkg/mod/
    policy: pull
  script:
  - go test ./... -v

create-version-tag:
  stage: tag
  variables:
    GIT_STRATEGY: clone
  before_script:
  - git config user.email "$GITLAB_USER_EMAIL"
  - git config user.name "$GITLAB_USER_NAME"
  - git remote set-url origin "https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/amoconst/germinator"
  script:
  ...

release:
  stage: distribute
  needs:
  - lint
  - test
  image:
    name: goreleaser/goreleaser
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 0
    GITLAB_TOKEN: $CI_JOB_TOKEN
  before_script:
  ...

mirror-to-github:
  stage: distribute
  needs:
  - create-version-tag
  variables:
    GIT_STRATEGY: fetch
  script:
  - git remote add github "https://${GITHUB_ACCESS_TOKEN}@github.com/${GITHUB_REPO_URL}.git" || true
  - git push github "$CI_COMMIT_BRANCH" --force
  - git push github --tags --force
  interruptible: true

Add e2e-testing-ginkgo OpenSpec change
  openspec/changes/e2e-testing-ginkgo/.openspec.yaml
  openspec/changes/e2e-testing-ginkgo/design.md
  openspec/changes/e2e-testing-ginkgo/proposal.md
  openspec/changes/e2e-testing-ginkgo/specs/e2e-testing/spec.md
  openspec/changes/e2e-testing-ginkgo/tasks.md
Due: none

Add E2E testing infrastructure with Ginkgo v2
  .mise/config.toml
  go.mod
  go.sum
  test/e2e/adapt_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/fixtures/document_fixtures.go
  test/e2e/helpers/cli_helper.go
  test/e2e/root_test.go
  test/e2e/validate_test.go
  test/e2e/version_test.go
Due: build-ci-image, lint, test, release, mirror-to-github

Mark all E2E testing tasks as complete
  openspec/changes/e2e-testing-ginkgo/tasks.md
Due: none

Sync e2e-testing-ginkgo specs to main
  openspec/specs/e2e-testing/spec.md
Due: none

Archive change e2e-testing-ginkgo
  openspec/changes/archive/2026-03-02-e2e-testing-ginkgo/.openspec.yaml
  openspec/changes/archive/2026-03-02-e2e-testing-ginkgo/design.md
  openspec/changes/archive/2026-03-02-e2e-testing-ginkgo/proposal.md
  openspec/changes/archive/2026-03-02-e2e-testing-ginkgo/specs/e2e-testing/spec.md
  openspec/changes/archive/2026-03-02-e2e-testing-ginkgo/tasks.md
  test/e2e/e2e_suite_test.go
Due: none

Add e2e-test-coverage OpenSpec change
  openspec/changes/e2e-test-coverage/.openspec.yaml
  openspec/changes/e2e-test-coverage/design.md
  openspec/changes/e2e-test-coverage/proposal.md
  openspec/changes/e2e-test-coverage/specs/e2e-canonicalize-tests/spec.md
  openspec/changes/e2e-test-coverage/specs/e2e-testing/spec.md
  openspec/changes/e2e-test-coverage/tasks.md
Due: none

Add E2E test coverage for canonicalize and claude-code platform
  openspec/changes/e2e-test-coverage/tasks.md
  test/e2e/adapt_test.go
  test/e2e/canonicalize_test.go
  test/e2e/validate_test.go
Due: none

Archive change e2e-test-coverage
  openspec/changes/archive/2026-03-02-e2e-test-coverage/.openspec.yaml
  openspec/changes/archive/2026-03-02-e2e-test-coverage/design.md
  openspec/changes/archive/2026-03-02-e2e-test-coverage/proposal.md
  openspec/changes/archive/2026-03-02-e2e-test-coverage/specs/e2e-canonicalize-tests/spec.md
  openspec/changes/archive/2026-03-02-e2e-test-coverage/specs/e2e-testing/spec.md
  openspec/changes/archive/2026-03-02-e2e-test-coverage/tasks.md
  openspec/specs/e2e-canonicalize-tests/spec.md
  openspec/specs/e2e-testing/spec.md
Due: none

Update OpenSpec extended to 0.8.1
  .gitignore
  .opencode/agents/openspec-analyzer.md
  .opencode/agents/openspec-builder.md
  .opencode/agents/openspec-maintainer.md
  .opencode/commands/openspec-phase2.md
  .opencode/commands/openspec-phase5.md
  .opencode/commands/openspec-phase6.md
  .opencode/manifest.json
  .opencode/scripts/lib/osc-common
  .opencode/scripts/lib/osc-ctx
  .opencode/scripts/lib/osc-iterations
  .opencode/scripts/lib/osc-log
  .opencode/scripts/lib/osc-state
Due: lint, test, release, mirror-to-github

Add add-configuration-system OpenSpec change
  openspec/changes/add-configuration-system/.openspec.yaml
  openspec/changes/add-configuration-system/design.md
  openspec/changes/add-configuration-system/proposal.md
  openspec/changes/add-configuration-system/specs/configuration/spec.md
  openspec/changes/add-configuration-system/tasks.md
Due: none

Add configuration system with Koanf-based TOML loading
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  internal/config/manager.go
  internal/config/manager_test.go
  openspec/changes/add-configuration-system/tasks.md
Due: none

Sync add-configuration-system specs to main
  openspec/specs/configuration/spec.md
Due: none

Document the configuration systems
  AGENTS.md
  internal/AGENTS.md
  internal/config/AGENTS.md
Due: lint, test, release, mirror-to-github

Archive the add-configuration-system specs
  openspec/changes/archive/2026-03-02-add-configuration-system/.openspec.yaml
  openspec/changes/archive/2026-03-02-add-configuration-system/decision-log.json
  openspec/changes/archive/2026-03-02-add-configuration-system/design.md
  openspec/changes/archive/2026-03-02-add-configuration-system/iterations.json
  openspec/changes/archive/2026-03-02-add-configuration-system/proposal.md
  openspec/changes/archive/2026-03-02-add-configuration-system/specs/configuration/spec.md
  openspec/changes/archive/2026-03-02-add-configuration-system/state.json
  openspec/changes/archive/2026-03-02-add-configuration-system/tasks.md
  openspec/changes/archive/2026-03-02-add-configuration-system/verification-report.md
Due: none

Update OpenSpec extended to 0.8.4
  .gitignore
  .opencode/commands/openspec-phase0.md
  .opencode/commands/openspec-phase1.md
  .opencode/commands/openspec-phase2.md
  .opencode/commands/openspec-phase3.md
  .opencode/commands/openspec-phase4.md
  .opencode/commands/openspec-phase5.md
  .opencode/commands/openspec-phase6.md
  .opencode/manifest.json
  .opencode/scripts/lib/osc-common
  .opencode/scripts/lib/osc-iterations
  .opencode/scripts/lib/osc-log
  .opencode/scripts/lib/osc-phase
  .opencode/scripts/lib/osc-state
  .opencode/scripts/openspec-auto
Due: lint, test, release, mirror-to-github

Add add-library-init-system OpenSpec change
  openspec/changes/add-library-init-system/design.md
  openspec/changes/add-library-init-system/proposal.md
  openspec/changes/add-library-init-system/specs/init-command.md
  openspec/changes/add-library-init-system/specs/library-system.md
  openspec/changes/add-library-init-system/specs/resource-installation.md
  openspec/changes/add-library-init-system/tasks.md
Due: none

Add library system and init command for resource installation
  cmd/init.go
  cmd/library.go
  cmd/library_test.go
  cmd/root.go
  internal/library/discovery.go
  internal/library/discovery_test.go
  internal/library/library.go
  internal/library/library_test.go
  internal/library/lister.go
  internal/library/lister_test.go
  internal/library/loader.go
  internal/library/loader_test.go
  internal/library/resolver.go
  internal/library/resolver_test.go
  internal/services/initializer.go
  internal/services/initializer_test.go
  openspec/changes/add-library-init-system/tasks.md
  test/fixtures/library/agents/agent-reviewer.md
  test/fixtures/library/commands/command-test.md
  test/fixtures/library/library.yaml
  test/fixtures/library/memory/memory-context.md
  test/fixtures/library/skills/skill-commit.md
  test/fixtures/library/skills/skill-merge-request.md
Due: none

Add documentation for library system and init command
  AGENTS.md
  cmd/AGENTS.md
  internal/library/AGENTS.md
  openspec/changes/add-library-init-system/tasks.md
Due: none

Add initializer.go documentation
  internal/services/AGENTS.md
Due: lint, test, release, mirror-to-github

Sync add-library-init-system specs to main
  openspec/specs/init-command/spec.md
  openspec/specs/library-system/spec.md
  openspec/specs/resource-installation/spec.md
Due: none

Archive change add-library-init-system
  openspec/changes/archive/2026-03-02-add-library-init-system/decision-log.json
  openspec/changes/archive/2026-03-02-add-library-init-system/design.md
  openspec/changes/archive/2026-03-02-add-library-init-system/iterations.json
  openspec/changes/archive/2026-03-02-add-library-init-system/proposal.md
  openspec/changes/archive/2026-03-02-add-library-init-system/reflections.md
  openspec/changes/archive/2026-03-02-add-library-init-system/specs/init-command.md
  openspec/changes/archive/2026-03-02-add-library-init-system/specs/library-system.md
  openspec/changes/archive/2026-03-02-add-library-init-system/specs/resource-installation.md
  openspec/changes/archive/2026-03-02-add-library-init-system/state.json
  openspec/changes/archive/2026-03-02-add-library-init-system/tasks.md
  openspec/changes/archive/2026-03-02-add-library-init-system/verification-report.md
Due: none

Add OpenSpec changes for service layer refactoring
  openspec/changes/add-validation-pipeline/.openspec.yaml
  openspec/changes/add-validation-pipeline/design.md
  openspec/changes/add-validation-pipeline/proposal.md
  openspec/changes/add-validation-pipeline/specs/composable-validators/spec.md
  openspec/changes/add-validation-pipeline/specs/enhanced-validation-errors/spec.md
  openspec/changes/add-validation-pipeline/specs/result-type/spec.md
  openspec/changes/add-validation-pipeline/specs/validation-pipeline/spec.md
  openspec/changes/add-validation-pipeline/tasks.md
  openspec/changes/enhance-all-errors/.openspec.yaml
  openspec/changes/enhance-all-errors/design.md
  openspec/changes/enhance-all-errors/proposal.md
  openspec/changes/enhance-all-errors/specs/enhanced-errors/spec.md
  openspec/changes/enhance-all-errors/tasks.md
  openspec/changes/introduce-service-interfaces/.openspec.yaml
  openspec/changes/introduce-service-interfaces/design.md
  openspec/changes/introduce-service-interfaces/proposal.md
  openspec/changes/introduce-service-interfaces/specs/dependency-injection/spec.md
  openspec/changes/introduce-service-interfaces/specs/service-contracts/spec.md
  openspec/changes/introduce-service-interfaces/tasks.md
Due: none

Update OpenSpec automation to 0.10.2 with improved portability
  .opencode/commands/openspec-phase1.md
  .opencode/commands/openspec-phase2.md
  .opencode/commands/openspec-phase3.md
  .opencode/commands/openspec-phase5.md
  .opencode/commands/openspec-phase6.md
  .opencode/manifest.json
  .opencode/scripts/lib/osc-baseline
  .opencode/scripts/lib/osc-common
  .opencode/scripts/lib/osc-complete
  .opencode/scripts/lib/osc-ctx
  .opencode/scripts/lib/osc-git
  .opencode/scripts/lib/osc-iterations
  .opencode/scripts/lib/osc-log
  .opencode/scripts/lib/osc-phase
  .opencode/scripts/lib/osc-state
  .opencode/scripts/lib/osc-validate
  .opencode/scripts/openspec-auto
  .opencode/skills/openspec-review-artifacts/SKILL.md
  .opencode/skills/openspec-review-artifacts/references/review-criteria.md
Due: lint, test, release, mirror-to-github

Review and iterate artifacts for introduce-service-interfaces
  openspec/changes/introduce-service-interfaces/tasks.md
Due: none

Introduce service interfaces for dependency injection
  cmd/adapt.go
  cmd/canonicalize.go
  cmd/cmd_test.go
  cmd/container.go
  cmd/init.go
  cmd/validate.go
  internal/application/interfaces.go
  internal/application/requests.go
  internal/application/results.go
  internal/services/canonicalizer.go
  internal/services/canonicalizer_test.go
  internal/services/initializer.go
  internal/services/initializer_test.go
  internal/services/transformer.go
  internal/services/transformer_golden_test.go
  internal/services/transformer_test.go
  internal/services/validator.go
  openspec/changes/introduce-service-interfaces/tasks.md
Due: none

Document application layer and service interfaces
  AGENTS.md
  cmd/AGENTS.md
  internal/AGENTS.md
  internal/application/AGENTS.md
  internal/services/AGENTS.md
Due: lint, test, release, mirror-to-github

Sync introduce-service-interfaces specs to main
  openspec/specs/dependency-injection/spec.md
  openspec/specs/service-contracts/spec.md
Due: none

Archive change introduce-service-interfaces
  openspec/changes/archive/2026-03-03-introduce-service-interfaces/.openspec.yaml
  openspec/changes/archive/2026-03-03-introduce-service-interfaces/complete.json
  openspec/changes/archive/2026-03-03-introduce-service-interfaces/decision-log.json
  openspec/changes/archive/2026-03-03-introduce-service-interfaces/design.md
  openspec/changes/archive/2026-03-03-introduce-service-interfaces/iterations.json
  openspec/changes/archive/2026-03-03-introduce-service-interfaces/proposal.md
  openspec/changes/archive/2026-03-03-introduce-service-interfaces/reflections.md
  openspec/changes/archive/2026-03-03-introduce-service-interfaces/specs/dependency-injection/spec.md
  openspec/changes/archive/2026-03-03-introduce-service-interfaces/specs/service-contracts/spec.md
  openspec/changes/archive/2026-03-03-introduce-service-interfaces/state.json
  openspec/changes/archive/2026-03-03-introduce-service-interfaces/suggestions.md
  openspec/changes/archive/2026-03-03-introduce-service-interfaces/tasks.md
  openspec/changes/archive/2026-03-03-introduce-service-interfaces/verification-report.md
Due: none

Update OpenSpec automation to 0.11.0
  .opencode/agents/openspec-analyzer.md
  .opencode/agents/openspec-builder.md
  .opencode/agents/openspec-maintainer.md
  .opencode/commands/openspec-phase6.md
  .opencode/manifest.json
  .opencode/scripts/openspec-auto
Due: lint, test, release, mirror-to-github

Review and iterate artifacts for add-validation-pipeline
  openspec/changes/add-validation-pipeline/design.md
  openspec/changes/add-validation-pipeline/tasks.md
Due: none

Add validation pipeline with Result[T] pattern and enhanced ValidationError
  cmd/cmd_test.go
  cmd/error_formatter.go
  cmd/error_formatter_test.go
  internal/core/loader.go
  internal/core/loader_test.go
  internal/errors/types.go
  internal/errors/types_test.go
  internal/services/canonicalizer.go
  internal/validation/pipeline.go
  internal/validation/pipeline_test.go
  internal/validation/result.go
  internal/validation/result_test.go
  internal/validation/validators.go
  openspec/changes/add-validation-pipeline/tasks.md
Due: none

Add composable validators for Agent, Command, Skill, and Memory
  internal/validation/opencode/validators.go
  internal/validation/opencode/validators_test.go
  internal/validation/validators_test.go
  openspec/changes/add-validation-pipeline/tasks.md
Due: none

Wire validation pipelines into validator service
  internal/services/validator.go
  internal/validation/pipeline.go
  internal/validation/pipeline_test.go
  openspec/changes/add-validation-pipeline/tasks.md
Due: none

Wire validators into all services
  internal/services/canonicalizer.go
  openspec/changes/add-validation-pipeline/tasks.md
Due: none

Remove Validate methods from canonical models
  internal/core/integration_test.go
  internal/core/loader.go
  internal/core/loader_test.go
  internal/models/canonical/models.go
  internal/models/canonical/models_test.go
  openspec/changes/add-validation-pipeline/tasks.md
Due: none

Fix E2E test expectations to match validation error format
  test/e2e/validate_test.go
Due: lint, test, release, mirror-to-github

Update documentation for add-validation-pipeline change
  AGENTS.md
  internal/AGENTS.md
  internal/services/AGENTS.md
  internal/validation/AGENTS.md
Due: lint, test, release, mirror-to-github

Sync add-validation-pipeline specs to main
  openspec/specs/composable-validators/spec.md
  openspec/specs/enhanced-validation-errors/spec.md
  openspec/specs/result-type/spec.md
  openspec/specs/validation-pipeline/spec.md
Due: none

Complete self-reflection for add-validation-pipeline
  openspec/changes/add-validation-pipeline/decision_log.json
Due: none

Archive change add-validation-pipeline
  openspec/changes/add-validation-pipeline/decision_log.json
  openspec/changes/archive/2026-03-04-add-validation-pipeline/.openspec.yaml
  openspec/changes/archive/2026-03-04-add-validation-pipeline/decision-log.json
  openspec/changes/archive/2026-03-04-add-validation-pipeline/design.md
  openspec/changes/archive/2026-03-04-add-validation-pipeline/iterations.json
  openspec/changes/archive/2026-03-04-add-validation-pipeline/proposal.md
  openspec/changes/archive/2026-03-04-add-validation-pipeline/reflections.md
  openspec/changes/archive/2026-03-04-add-validation-pipeline/specs/composable-validators/spec.md
  openspec/changes/archive/2026-03-04-add-validation-pipeline/specs/enhanced-validation-errors/spec.md
  openspec/changes/archive/2026-03-04-add-validation-pipeline/specs/result-type/spec.md
  openspec/changes/archive/2026-03-04-add-validation-pipeline/specs/validation-pipeline/spec.md
  openspec/changes/archive/2026-03-04-add-validation-pipeline/suggestions.md
  openspec/changes/archive/2026-03-04-add-validation-pipeline/tasks.md
  openspec/changes/archive/2026-03-04-add-validation-pipeline/verification-report.md
Due: none

Path conditions:
  build-ci-image: any of: Dockerfile.ci, .mise/config.toml
  lint: not (any of: openspec/**/*)
  test: not (any of: openspec/**/*)
  create-version-tag: any of: internal/version/version.go
  release: not (any of: openspec/**/*)
  mirror-to-github: not (any of: openspec/**/*)
