Repository amauryconstant/germinator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, lint, test, create-version-tag, release, mirror-to-github

build-ci-image:
  stage: build-ci
  image:
    name: docker:29.1.4-cli
  services:
  - name: docker:29.1.4-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    CI_REGISTRY: registry.gitlab.com
    CI_REGISTRY_IMAGE: $CI_REGISTRY/amoconst/germinator/ci
  before_script:
  - apk add --no-cache curl
  ...

lint:
  stage: validate
  needs:
  - setup
  cache:
    key:
      files:
      - .cache-key
    paths:
    - .cache/go-mod/
    - .go/pkg/mod/
    policy: pull
  interruptible: true
  script:
  - golangci-lint run

test:
  stage: validate
  needs:
  - setup
  cache:
    key:
      files:
      - .cache-key
    paths:
    - .cache/go-mod/
    - .go/pkg/mod/
    policy: pull
  script:
  - go test ./... -v

create-version-tag:
  stage: tag
  variables:
    GIT_STRATEGY: clone
  before_script:
  - git config user.email "$GITLAB_USER_EMAIL"
  - git config user.name "$GITLAB_USER_NAME"
  - git remote set-url origin "https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/amoconst/germinator"
  script:
  ...

release:
  stage: distribute
  needs:
  - lint
  - test
  image:
    name: goreleaser/goreleaser
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 0
    GITLAB_TOKEN: $CI_JOB_TOKEN
  before_script:
  ...

mirror-to-github:
  stage: distribute
  needs:
  - create-version-tag
  variables:
    GIT_STRATEGY: fetch
  script:
  - git remote add github "https://${GITHUB_ACCESS_TOKEN}@github.com/${GITHUB_REPO_URL}.git" || true
  - git push github "$CI_COMMIT_BRANCH" --force
  - git push github --tags --force
  interruptible: true

Complete self-reflection for library-json-flag
  openspec/changes/library-json-flag/reflections.md
Due: none

Add JSON output support to library commands
  cmd/library.go
  cmd/library_add.go
  cmd/library_formatters.go
  cmd/library_init.go
  cmd/library_refresh.go
  cmd/library_remove.go
  cmd/library_validate.go
  internal/infrastructure/library/adder.go
  openspec/changes/library-json-flag/tasks.md
Due: none

Update library command documentation for --json flag inheritance
  AGENTS.md
Due: lint, test, release, mirror-to-github

Review and iterate artifacts for partial-processing
  openspec/changes/partial-processing/specs/library/resource-installation/spec.md
  openspec/changes/partial-processing/tasks.md
Due: none

Implement partial processing for resource initialization
  cmd/formatters.go
  cmd/init.go
  internal/service/initializer.go
  internal/service/initializer_mock_test.go
  internal/service/initializer_test.go
  test/e2e/init_test.go
Due: lint, test, release, mirror-to-github

Mark partial-processing tasks as complete
  openspec/changes/partial-processing/tasks.md
Due: none

Update documentation for partial-processing behavior
  cmd/AGENTS.md
  internal/service/AGENTS.md
Due: lint, test, release, mirror-to-github

Sync partial-processing specs to main
  openspec/specs/library/partial-initialization/spec.md
  openspec/specs/library/resource-installation/spec.md
Due: none

Complete self-reflection for partial-processing
  openspec/changes/partial-processing/reflections.md
Due: none

Archive change partial-processing
  openspec/changes/archive/2026-04-02-partial-processing/.openspec.yaml
  openspec/changes/archive/2026-04-02-partial-processing/decision-log.json
  openspec/changes/archive/2026-04-02-partial-processing/design.md
  openspec/changes/archive/2026-04-02-partial-processing/iterations.json
  openspec/changes/archive/2026-04-02-partial-processing/osx-orchestrate.log
  openspec/changes/archive/2026-04-02-partial-processing/proposal.md
  openspec/changes/archive/2026-04-02-partial-processing/reflections.md
  openspec/changes/archive/2026-04-02-partial-processing/specs/library/resource-installation/spec.md
  openspec/changes/archive/2026-04-02-partial-processing/specs/partial-initialization/spec.md
  openspec/changes/archive/2026-04-02-partial-processing/tasks.md
  openspec/changes/archive/2026-04-02-partial-processing/verification-report.md
Due: none

Fix delta spec filename in discover-orphans proposal
  openspec/changes/discover-orphans/proposal.md
Due: none

Implement recursive orphan discovery with batch mode support
  cmd/library_add.go
  internal/infrastructure/library/adder.go
  internal/infrastructure/library/refresher_test.go
  openspec/changes/discover-orphans/tasks.md
Due: none

Update documentation for discover-orphans
  AGENTS.md
  internal/infrastructure/library/AGENTS.md
Due: lint, test, release, mirror-to-github

Sync discover-orphans specs to main
  openspec/specs/application/discover-orphans-batch/spec.md
  openspec/specs/library/library-orphan-discovery/spec.md
Due: none

Archive change discover-orphans
  openspec/changes/archive/2026-04-02-discover-orphans/.openspec.yaml
  openspec/changes/archive/2026-04-02-discover-orphans/decision-log.json
  openspec/changes/archive/2026-04-02-discover-orphans/design.md
  openspec/changes/archive/2026-04-02-discover-orphans/iterations.json
  openspec/changes/archive/2026-04-02-discover-orphans/proposal.md
  openspec/changes/archive/2026-04-02-discover-orphans/reflections.md
  openspec/changes/archive/2026-04-02-discover-orphans/specs/discover-orphans-batch/spec.md
  openspec/changes/archive/2026-04-02-discover-orphans/specs/library/library-orphan-discovery/spec.md
  openspec/changes/archive/2026-04-02-discover-orphans/suggestions.md
  openspec/changes/archive/2026-04-02-discover-orphans/tasks.md
  openspec/changes/archive/2026-04-02-discover-orphans/verification-report.md
Due: none

Add batch mode for library add command
  cmd/library_add.go
  cmd/library_formatters.go
  internal/infrastructure/library/adder.go
  internal/infrastructure/library/adder_test.go
  internal/infrastructure/library/refresher_test.go
  test/e2e/library_add_test.go
  test/e2e/library_discover_test.go
Due: lint, test, release, mirror-to-github

Update library documentation with batch add API
  internal/infrastructure/library/AGENTS.md
Due: lint, test, release, mirror-to-github

Complete self-reflection for batch-add
  openspec/changes/batch-add/reflections.md
Due: none

Archive change batch-add
  openspec/changes/archive/2026-04-02-batch-add/.openspec.yaml
  openspec/changes/archive/2026-04-02-batch-add/decision-log.json
  openspec/changes/archive/2026-04-02-batch-add/design.md
  openspec/changes/archive/2026-04-02-batch-add/iterations.json
  openspec/changes/archive/2026-04-02-batch-add/proposal.md
  openspec/changes/archive/2026-04-02-batch-add/reflections.md
  openspec/changes/archive/2026-04-02-batch-add/specs/library-batch-add/spec.md
  openspec/changes/archive/2026-04-02-batch-add/tasks.md
  openspec/changes/archive/2026-04-02-batch-add/verification-report.md
  openspec/specs/library-batch-add/spec.md
Due: none

Relocate Go skill symlinks to _external path and prune removed skills
  .opencode/skills/golang-benchmark
  .opencode/skills/golang-cli
  .opencode/skills/golang-cli-architecture
  .opencode/skills/golang-code-style
  .opencode/skills/golang-concurrency
  .opencode/skills/golang-context
  .opencode/skills/golang-continuous-integration
  .opencode/skills/golang-data-structures
  .opencode/skills/golang-database
  .opencode/skills/golang-dependency-injection
  .opencode/skills/golang-dependency-management
  .opencode/skills/golang-design-patterns
  .opencode/skills/golang-documentation
  .opencode/skills/golang-error-handling
  .opencode/skills/golang-grpc
  .opencode/skills/golang-linter
  .opencode/skills/golang-modernize
  .opencode/skills/golang-naming
  .opencode/skills/golang-observability
  .opencode/skills/golang-performance
  .opencode/skills/golang-popular-libraries
  .opencode/skills/golang-project-layout
  .opencode/skills/golang-safety
  .opencode/skills/golang-samber-do
  .opencode/skills/golang-samber-hot
  .opencode/skills/golang-samber-lo
  .opencode/skills/golang-samber-mo
  .opencode/skills/golang-samber-oops
  .opencode/skills/golang-samber-ro
  .opencode/skills/golang-samber-slog
  .opencode/skills/golang-security
  .opencode/skills/golang-stay-updated
  .opencode/skills/golang-stretchr-testify
  .opencode/skills/golang-structs-interfaces
  .opencode/skills/golang-testing
  .opencode/skills/golang-troubleshooting
Due: lint, test, release, mirror-to-github

Document target golang-cli-architecture layout
  AGENTS.md
  config/AGENTS.md
  internal/AGENTS.md
  openspec/config.yaml
Due: none

Bump mise tool versions for go, golangci-lint, and goreleaser
  .mise/config.toml
Due: build-ci-image, lint, test, release, mirror-to-github

Add change scaffold-cli-foundation
  openspec/changes/scaffold-cli-foundation/design.md
  openspec/changes/scaffold-cli-foundation/proposal.md
  openspec/changes/scaffold-cli-foundation/specs/cli-factory/spec.md
  openspec/changes/scaffold-cli-foundation/specs/command-options-pattern/spec.md
  openspec/changes/scaffold-cli-foundation/specs/dependency-injection/spec.md
  openspec/changes/scaffold-cli-foundation/specs/error-formatting/spec.md
  openspec/changes/scaffold-cli-foundation/specs/exit-codes/spec.md
  openspec/changes/scaffold-cli-foundation/specs/framework/spec.md
  openspec/changes/scaffold-cli-foundation/specs/iostreams/spec.md
  openspec/changes/scaffold-cli-foundation/specs/output-formats/spec.md
  openspec/changes/scaffold-cli-foundation/specs/verbose-output/spec.md
  openspec/changes/scaffold-cli-foundation/tasks.md
Due: none

Achieve zero lint issues for scaffold-cli-foundation
  cmd/library_add.go
  cmd/library_remove.go
  cmd/lint_helpers.go
  cmd/testdata/lint_baseline.txt
  internal/claude-code/claude_code_adapter.go
  internal/cmdutil/factory_test.go
  internal/config/config.go
  internal/library/adder.go
  internal/library/creator.go
  internal/opencode/doc.go
  internal/opencode/opencode_adapter.go
  internal/output/exporter.go
  internal/parser/doc.go
  internal/parser/loader.go
  internal/permission/adapter.go
  internal/permission/permissions.go
  internal/renderer/serializer.go
Due: lint, test, release, mirror-to-github

Update documentation for scaffold-cli-foundation
  AGENTS.md
  cmd/AGENTS.md
  cmd/commands/AGENTS.md
  internal/AGENTS.md
  internal/cmdutil/AGENTS.md
  internal/core/AGENTS.md
  internal/iostreams/AGENTS.md
  internal/library/AGENTS.md
  internal/output/AGENTS.md
Due: lint, test, release, mirror-to-github

Review and iterate artifacts for scaffold-cli-foundation
  openspec/changes/scaffold-cli-foundation/design.md
  openspec/changes/scaffold-cli-foundation/proposal.md
  openspec/changes/scaffold-cli-foundation/specs/cli-factory/spec.md
  openspec/changes/scaffold-cli-foundation/specs/command-options-pattern/spec.md
  openspec/changes/scaffold-cli-foundation/specs/dependency-injection/spec.md
  openspec/changes/scaffold-cli-foundation/specs/error-formatting/spec.md
  openspec/changes/scaffold-cli-foundation/specs/exit-codes/spec.md
  openspec/changes/scaffold-cli-foundation/specs/framework/spec.md
  openspec/changes/scaffold-cli-foundation/specs/iostreams/spec.md
  openspec/changes/scaffold-cli-foundation/specs/output-formats/spec.md
  openspec/changes/scaffold-cli-foundation/specs/verbose-output/spec.md
  openspec/changes/scaffold-cli-foundation/tasks.md
Due: none

Archive scaffold-cli-foundation change with delta spec sync
  openspec/changes/archive/2026-06-24-scaffold-cli-foundation/decision-log.json
  openspec/changes/archive/2026-06-24-scaffold-cli-foundation/design.md
  openspec/changes/archive/2026-06-24-scaffold-cli-foundation/iterations.json
  openspec/changes/archive/2026-06-24-scaffold-cli-foundation/proposal.md
  openspec/changes/archive/2026-06-24-scaffold-cli-foundation/specs/cli-factory/spec.md
  openspec/changes/archive/2026-06-24-scaffold-cli-foundation/specs/command-options-pattern/spec.md
  openspec/changes/archive/2026-06-24-scaffold-cli-foundation/specs/dependency-injection/spec.md
  openspec/changes/archive/2026-06-24-scaffold-cli-foundation/specs/error-formatting/spec.md
  openspec/changes/archive/2026-06-24-scaffold-cli-foundation/specs/exit-codes/spec.md
  openspec/changes/archive/2026-06-24-scaffold-cli-foundation/specs/framework/spec.md
  openspec/changes/archive/2026-06-24-scaffold-cli-foundation/specs/iostreams/spec.md
  openspec/changes/archive/2026-06-24-scaffold-cli-foundation/specs/output-formats/spec.md
  openspec/changes/archive/2026-06-24-scaffold-cli-foundation/specs/verbose-output/spec.md
  openspec/changes/archive/2026-06-24-scaffold-cli-foundation/state.json
  openspec/changes/archive/2026-06-24-scaffold-cli-foundation/tasks.md
  openspec/specs/application-dependency-injection/spec.md
  openspec/specs/cli-cli-factory/spec.md
  openspec/specs/cli-command-options-pattern/spec.md
  openspec/specs/cli-error-formatting/spec.md
  openspec/specs/cli-exit-codes/spec.md
  openspec/specs/cli-framework/spec.md
  openspec/specs/cli-iostreams/spec.md
  openspec/specs/cli-output-formats/spec.md
  openspec/specs/cli-verbose-output/spec.md
Due: none

Add change wire-factory-and-pilots
  openspec/changes/wire-factory-and-pilots/design.md
  openspec/changes/wire-factory-and-pilots/proposal.md
  openspec/changes/wire-factory-and-pilots/specs/library-json-output/spec.md
  openspec/changes/wire-factory-and-pilots/tasks.md
Due: none

Review and iterate artifacts for wire-factory-and-pilots
  openspec/changes/wire-factory-and-pilots/design.md
  openspec/changes/wire-factory-and-pilots/proposal.md
  openspec/changes/wire-factory-and-pilots/specs/cli-exit-codes/spec.md
  openspec/changes/wire-factory-and-pilots/specs/library-json-output/spec.md
  openspec/changes/wire-factory-and-pilots/specs/library-library-json-output/spec.md
  openspec/changes/wire-factory-and-pilots/tasks.md
Due: none

Reconcile wire-factory-and-pilots artifacts with implementation
  cmd/resources.go
  openspec/changes/wire-factory-and-pilots/design.md
  openspec/changes/wire-factory-and-pilots/proposal.md
  openspec/changes/wire-factory-and-pilots/tasks.md
Due: none

Complete wire-factory-and-pilots test coverage
  cmd/adapt_test.go
  cmd/resources_test.go
  test/e2e/adapt_test.go
  test/e2e/init_test.go
  test/e2e/library_add_test.go
  test/e2e/library_discover_test.go
  test/e2e/library_refresh_test.go
  test/e2e/library_remove_test.go
  test/e2e/validate_test.go
Due: lint, test, release, mirror-to-github

Add canary gate regression test for Cobra usage errors
  cmd/cmd_test.go
Due: lint, test, release, mirror-to-github

Archive wire-factory-and-pilots change with delta spec sync
  openspec/changes/archive/2026-06-26-wire-factory-and-pilots/design.md
  openspec/changes/archive/2026-06-26-wire-factory-and-pilots/proposal.md
  openspec/changes/archive/2026-06-26-wire-factory-and-pilots/specs/cli-exit-codes/spec.md
  openspec/changes/archive/2026-06-26-wire-factory-and-pilots/specs/library-library-json-output/spec.md
  openspec/changes/archive/2026-06-26-wire-factory-and-pilots/tasks.md
  openspec/specs/cli-exit-codes/spec.md
  openspec/specs/library-library-json-output/spec.md
Due: none

Add change migrate-domain-commands
  openspec/changes/migrate-domain-commands/design.md
  openspec/changes/migrate-domain-commands/proposal.md
  openspec/changes/migrate-domain-commands/specs/framework/spec.md
  openspec/changes/migrate-domain-commands/tasks.md
Due: none

Review and iterate artifacts for migrate-domain-commands
  openspec/changes/migrate-domain-commands/design.md
  openspec/changes/migrate-domain-commands/proposal.md
  openspec/changes/migrate-domain-commands/specs/framework/spec.md
  openspec/changes/migrate-domain-commands/tasks.md
Due: none

Migrate validate and canonicalize to Factory pattern
  cmd/canonicalize.go
  cmd/canonicalize_golden_test.go
  cmd/canonicalize_test.go
  cmd/cmd_test.go
  cmd/legacy_test_helpers_test.go
  cmd/root.go
  cmd/validate.go
  cmd/validate_test.go
  internal/service/canonicalizer.go
  internal/service/canonicalizer_test.go
  internal/service/transformer.go
  internal/service/transformer_test.go
  internal/service/validator.go
  internal/service/validator_test.go
  main.go
  openspec/changes/migrate-domain-commands/tasks.md
Due: none

Path conditions:
  build-ci-image: any of: Dockerfile.ci, .mise/config.toml
  lint: not (any of: openspec/**/*)
  test: not (any of: openspec/**/*)
  create-version-tag: any of: internal/version/version.go
  release: not (any of: openspec/**/*)
  mirror-to-github: not (any of: openspec/**/*)
