Repository amauryconstant/germinator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, lint, test, create-version-tag, release, mirror-to-github

build-ci-image:
  stage: build-ci
  image:
    name: docker:29.1.4-cli
  services:
  - name: docker:29.1.4-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    CI_REGISTRY: registry.gitlab.com
    CI_REGISTRY_IMAGE: $CI_REGISTRY/amoconst/germinator/ci
  before_script:
  - apk add --no-cache curl
  ...

lint:
  stage: validate
  needs:
  - setup
  cache:
    key:
      files:
      - .cache-key
    paths:
    - .cache/go-mod/
    - .go/pkg/mod/
    policy: pull
  interruptible: true
  script:
  - golangci-lint run

test:
  stage: validate
  needs:
  - setup
  cache:
    key:
      files:
      - .cache-key
    paths:
    - .cache/go-mod/
    - .go/pkg/mod/
    policy: pull
  script:
  - go test ./... -v

create-version-tag:
  stage: tag
  variables:
    GIT_STRATEGY: clone
  before_script:
  - git config user.email "$GITLAB_USER_EMAIL"
  - git config user.name "$GITLAB_USER_NAME"
  - git remote set-url origin "https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/amoconst/germinator"
  script:
  ...

release:
  stage: distribute
  needs:
  - lint
  - test
  image:
    name: goreleaser/goreleaser
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 0
    GITLAB_TOKEN: $CI_JOB_TOKEN
  before_script:
  ...

mirror-to-github:
  stage: distribute
  needs:
  - create-version-tag
  variables:
    GIT_STRATEGY: fetch
  script:
  - git remote add github "https://${GITHUB_ACCESS_TOKEN}@github.com/${GITHUB_REPO_URL}.git" || true
  - git push github "$CI_COMMIT_BRANCH" --force
  - git push github --tags --force
  interruptible: true

Enforce typed-error exit-code discipline
  cmd/cmd_test.go
  cmd/init_test.go
  cmd/library_add_test.go
  cmd/library_create_test.go
  cmd/library_remove_test.go
  cmd/show_test.go
  internal/AGENTS.md
  internal/cmdutil/exit.go
  internal/cmdutil/exit_test.go
  internal/config/errors.go
  internal/config/errors_test.go
  internal/config/manager_test.go
  internal/core/errors.go
  internal/core/errors_test.go
  internal/output/errors.go
  internal/output/exporter.go
  internal/warning/AGENTS.md
  internal/warning/canary.go
  internal/warning/canary_test.go
  main.go
  openspec/changes/enforce-error-discipline/tasks.md
  test/e2e/adapt_test.go
  test/e2e/canonicalize_test.go
  test/e2e/init_test.go
  test/e2e/library_create_test.go
  test/e2e/library_remove_test.go
  test/e2e/library_test.go
  test/e2e/validate_test.go
Due: none

Refactor error rendering to central handler
  cmd/init.go
  cmd/library_add.go
  cmd/library_add_test.go
  cmd/library_validate.go
  cmd/library_validate_test.go
  cmd/validate.go
  cmd/validate_test.go
  internal/library/adder.go
  openspec/changes/enforce-error-discipline/tasks.md
  test/e2e/library_add_test.go
Due: none

Migrate to typed errors in library package
  cmd/init.go
  cmd/library_add.go
  cmd/library_create.go
  cmd/library_create_test.go
  cmd/library_remove_test.go
  cmd/library_test.go
  cmd/show.go
  cmd/show_test.go
  internal/library/adder.go
  internal/library/loader.go
  internal/library/remover.go
  internal/library/resolver.go
  internal/library/resolver_test.go
  openspec/changes/enforce-error-discipline/tasks.md
  test/e2e/library_create_test.go
  test/e2e/library_test.go
Due: none

Add WriteDefault helper and ValidateDocumentType guard
  cmd/canonicalize.go
  cmd/canonicalize_test.go
  cmd/config_init.go
  cmd/config_init_test.go
  internal/config/AGENTS.md
  internal/config/errors.go
  internal/config/errors_test.go
  internal/config/scaffold.go
  internal/config/scaffold_test.go
  internal/core/rules.go
  internal/core/rules_test.go
  internal/output/errors.go
  internal/output/output_test.go
  openspec/changes/enforce-error-discipline/tasks.md
Due: none

Correct typed-error documentation drift in AGENTS.md files
  cmd/AGENTS.md
  cmd/library_add.go
  cmd/library_create_test.go
  internal/cmdutil/AGENTS.md
  internal/core/AGENTS.md
  internal/library/AGENTS.md
  internal/output/AGENTS.md
Due: lint, test, release, mirror-to-github

Enforce typed-error discipline in error handling and serialization
  cmd/init_test.go
  cmd/library_remove_test.go
  internal/cmdutil/exit_test.go
  internal/core/errors_test.go
  internal/library/adder.go
  internal/library/adder_test.go
  internal/library/loader_test.go
  internal/library/remover_test.go
  internal/library/resolver_test.go
  internal/output/errors.go
  internal/output/output_test.go
  openspec/changes/enforce-error-discipline/specs/cli-error-formatting/spec.md
  openspec/changes/enforce-error-discipline/specs/errors-enhanced-errors/spec.md
  openspec/changes/enforce-error-discipline/specs/errors-typed-errors/spec.md
  test/e2e/init_test.go
  test/e2e/library_create_test.go
  test/e2e/validate_test.go
Due: none

Sync enforce-error-discipline delta specs to main specs
  openspec/specs/cli-error-formatting/spec.md
  openspec/specs/cli-exit-codes/spec.md
  openspec/specs/errors-enhanced-errors/spec.md
  openspec/specs/errors-typed-errors/spec.md
Due: none

Archive enforce-error-discipline change
  openspec/changes/archive/2026-07-15-enforce-error-discipline/.openspec.yaml
  openspec/changes/archive/2026-07-15-enforce-error-discipline/design.md
  openspec/changes/archive/2026-07-15-enforce-error-discipline/proposal.md
  openspec/changes/archive/2026-07-15-enforce-error-discipline/specs/cli-error-formatting/spec.md
  openspec/changes/archive/2026-07-15-enforce-error-discipline/specs/cli-exit-codes/spec.md
  openspec/changes/archive/2026-07-15-enforce-error-discipline/specs/errors-enhanced-errors/spec.md
  openspec/changes/archive/2026-07-15-enforce-error-discipline/specs/errors-typed-errors/spec.md
  openspec/changes/archive/2026-07-15-enforce-error-discipline/tasks.md
Due: none

Refine extract-io-adapters: add install-package naming spec, rename resourceAdder→adderLibrary
  openspec/changes/extract-io-adapters/README.md
  openspec/changes/extract-io-adapters/design.md
  openspec/changes/extract-io-adapters/proposal.md
  openspec/changes/extract-io-adapters/specs/cli-framework/spec.md
  openspec/changes/extract-io-adapters/tasks.md
Due: none

Extract IO adapters to internal/canonicalize and internal/validate
  cmd/canonicalize.go
  cmd/canonicalize_test.go
  cmd/cmd_test.go
  cmd/validate.go
  cmd/validate_test.go
  internal/canonicalize/AGENTS.md
  internal/canonicalize/canonicalize.go
  internal/canonicalize/canonicalize_golden_test.go
  internal/canonicalize/canonicalize_test.go
  internal/validate/AGENTS.md
  internal/validate/unwrap_test.go
  internal/validate/validate.go
  internal/validate/validate_test.go
  main.go
  openspec/changes/extract-io-adapters/tasks.md
Due: none

Refactor library add operations to method forms on *Library
  cmd/library_add.go
  cmd/library_add_test.go
  cmd/library_create.go
  cmd/library_refresh.go
  cmd/library_remove.go
  internal/library/adder.go
  internal/library/adder_test.go
  internal/library/library.go
  internal/library/methods_test.go
Due: lint, test, release, mirror-to-github

Extract IO adapters to internal/transform and internal/install
  cmd/AGENTS.md
  cmd/adapt.go
  cmd/adapt_test.go
  cmd/cmd_test.go
  cmd/init.go
  cmd/init_test.go
  cmd/initializer.go
  cmd/transformer.go
  internal/install/AGENTS.md
  internal/install/install.go
  internal/install/install_test.go
  internal/library/methods_test.go
  internal/transform/AGENTS.md
  internal/transform/transform.go
  internal/transform/transform_test.go
  main.go
  openspec/changes/extract-io-adapters/tasks.md
Due: none

Refine extract-io-adapters: parallelize tests, add coverage note
  internal/install/install_test.go
  internal/transform/transform_test.go
  openspec/changes/extract-io-adapters/specs/cli-framework/spec.md
Due: none

Document extracted I/O adapters and new *Library methods
  AGENTS.md
  internal/AGENTS.md
  internal/library/AGENTS.md
Due: lint, test, release, mirror-to-github

Sync extract-io-adapters delta spec to main specs
  openspec/specs/cli-framework/spec.md
Due: none

Archive extract-io-adapters change
  openspec/changes/archive/2026-07-16-extract-io-adapters/.openspec.yaml
  openspec/changes/archive/2026-07-16-extract-io-adapters/README.md
  openspec/changes/archive/2026-07-16-extract-io-adapters/design.md
  openspec/changes/archive/2026-07-16-extract-io-adapters/proposal.md
  openspec/changes/archive/2026-07-16-extract-io-adapters/specs/cli-framework/spec.md
  openspec/changes/archive/2026-07-16-extract-io-adapters/tasks.md
Due: none

Widen test:race task to cover cmd/ packages
  .mise/config.toml
Due: build-ci-image, lint, test, release, mirror-to-github

Relocate byte-equality golden tests to E2E suite
  openspec/changes/harden-tests-and-coverage/design.md
  openspec/changes/harden-tests-and-coverage/proposal.md
  openspec/changes/harden-tests-and-coverage/specs/testing-adapter-golden-tests/spec.md
  openspec/changes/harden-tests-and-coverage/specs/testing-e2e-testing/spec.md
  openspec/changes/harden-tests-and-coverage/specs/testing-iostreams-injection/spec.md
  openspec/changes/harden-tests-and-coverage/specs/testing-round-trip-tests/spec.md
  openspec/changes/harden-tests-and-coverage/specs/transformation-permission-transformation/spec.md
  openspec/changes/harden-tests-and-coverage/specs/transformation-platform-adapters/spec.md
  openspec/changes/harden-tests-and-coverage/tasks.md
Due: none

Migrate internal/library tests from stdlib testing to testify
  internal/library/adder_test.go
  internal/library/creator_test.go
  internal/library/discovery_test.go
  internal/library/field_helpers_test.go
  internal/library/library_test.go
  internal/library/lister_test.go
  internal/library/loader_test.go
  internal/library/methods_test.go
  internal/library/refresher_test.go
  internal/library/remover_test.go
  internal/library/resolver_test.go
  internal/library/saver_test.go
  internal/library/validator_test.go
  openspec/changes/harden-tests-and-coverage/tasks.md
Due: none

Harden xdgReload read path and demote cobra output globals
  cmd/adapt_test.go
  cmd/canonicalize_test.go
  cmd/completion_test.go
  cmd/config_init_test.go
  cmd/config_validate_test.go
  cmd/init_test.go
  cmd/library_add.go
  cmd/library_add_test.go
  cmd/library_create_test.go
  cmd/library_init.go
  cmd/library_init_test.go
  cmd/library_refresh.go
  cmd/library_refresh_test.go
  cmd/library_remove_test.go
  cmd/library_test.go
  cmd/library_validate_test.go
  cmd/presets_test.go
  cmd/resources_test.go
  cmd/show_test.go
  cmd/test_exec_test.go
  cmd/validate_test.go
  cmd/version_test.go
  internal/config/manager.go
  internal/library/discovery.go
  internal/library/discovery_test.go
Due: lint, test, release, mirror-to-github

Convert Adapters to package singletons
  cmd/library_add.go
  internal/claude-code/claude_code_adapter.go
  internal/claude-code/claude_code_adapter_test.go
  internal/claude-code/doc.go
  internal/opencode/doc.go
  internal/opencode/opencode_adapter.go
  internal/opencode/opencode_adapter_test.go
  internal/parser/AGENTS.md
  internal/parser/platform_parser.go
  internal/renderer/serializer.go
  openspec/changes/harden-tests-and-coverage/tasks.md
Due: none

Enable t.Parallel across internal/library tests
  cmd/library_add_test.go
  internal/library/methods_test.go
  openspec/changes/harden-tests-and-coverage/tasks.md
Due: none

Add E2E goldens and parser-renderer round-trip coverage
  internal/canonicalize/canonicalize_golden_test.go
  internal/renderer/serializer_test.go
  openspec/changes/harden-tests-and-coverage/tasks.md
  test/e2e/claude_code_adapter_golden_test.go
  test/e2e/fixtures/claude-code/agent-balanced.md
  test/e2e/fixtures/opencode/agent-balanced.md
  test/e2e/opencode_adapter_golden_test.go
Due: none

Cover unbranched parseAgent, renderAgent, and error Unwrap paths
  internal/claude-code/claude_code_adapter_test.go
  internal/core/results_test.go
  internal/library/creator_test.go
  internal/library/methods_test.go
  internal/library/resolver_test.go
  internal/opencode/opencode_adapter_test.go
  openspec/changes/harden-tests-and-coverage/tasks.md
Due: none

Add goleak.TestMain guard to internal/library
  cmd/completion.go
  go.mod
  go.sum
  internal/library/AGENTS.md
  internal/library/library_test.go
  openspec/changes/harden-tests-and-coverage/tasks.md
Due: none

Eliminate mutable package vars from cmd/
  .golangci.yml
  cmd/completion.go
  cmd/completion_test.go
  cmd/library_create.go
  cmd/lint_test.go
  openspec/changes/harden-tests-and-coverage/tasks.md
Due: none

Guard CreatePreset against nil *Library receivers
  internal/library/creator.go
  internal/library/methods_test.go
  openspec/changes/harden-tests-and-coverage/specs/transformation-permission-transformation/spec.md
  openspec/changes/harden-tests-and-coverage/tasks.md
Due: none

Reject unknown permission actions via shared validator
  internal/claude-code/AGENTS.md
  internal/opencode/AGENTS.md
  internal/opencode/opencode_adapter.go
  internal/opencode/opencode_adapter_test.go
  internal/permission/permissions.go
  internal/permission/permissions_test.go
  openspec/changes/harden-tests-and-coverage/specs/transformation-permission-transformation/spec.md
Due: none

Reconcile t.Parallel exemption for shell-out tests
  openspec/changes/harden-tests-and-coverage/specs/testing-e2e-testing/spec.md
  openspec/changes/harden-tests-and-coverage/tasks.md
Due: none

Sync harden-tests-and-coverage delta specs to main specs
  openspec/specs/testing-adapter-golden-tests/spec.md
  openspec/specs/testing-e2e-testing/spec.md
  openspec/specs/testing-round-trip-tests/spec.md
  openspec/specs/transformation-permission-transformation/spec.md
  openspec/specs/transformation-platform-adapters/spec.md
Due: none

Archive harden-tests-and-coverage change
  openspec/changes/archive/2026-07-17-harden-tests-and-coverage/.openspec.yaml
  openspec/changes/archive/2026-07-17-harden-tests-and-coverage/design.md
  openspec/changes/archive/2026-07-17-harden-tests-and-coverage/proposal.md
  openspec/changes/archive/2026-07-17-harden-tests-and-coverage/specs/testing-adapter-golden-tests/spec.md
  openspec/changes/archive/2026-07-17-harden-tests-and-coverage/specs/testing-e2e-testing/spec.md
  openspec/changes/archive/2026-07-17-harden-tests-and-coverage/specs/testing-round-trip-tests/spec.md
  openspec/changes/archive/2026-07-17-harden-tests-and-coverage/specs/transformation-permission-transformation/spec.md
  openspec/changes/archive/2026-07-17-harden-tests-and-coverage/specs/transformation-platform-adapters/spec.md
  openspec/changes/archive/2026-07-17-harden-tests-and-coverage/tasks.md
Due: none

Consolidate spec rules into config.yaml and correct AGENTS.md drift
  AGENTS.md
  cmd/AGENTS.md
  cmd/commands/AGENTS.md
  internal/AGENTS.md
  internal/cmdutil/AGENTS.md
  internal/config/AGENTS.md
  internal/core/AGENTS.md
  internal/library/AGENTS.md
  internal/output/AGENTS.md
  internal/parser/AGENTS.md
  openspec/config.yaml
  openspec/specs/AGENTS.md
Due: none

Prune AGENTS.md files and fix library-path priority drift
  AGENTS.md
  cmd/AGENTS.md
  cmd/commands/AGENTS.md
  internal/AGENTS.md
  internal/config/AGENTS.md
  internal/core/AGENTS.md
  internal/library/AGENTS.md
  test/AGENTS.md
Due: lint, test, release, mirror-to-github

Simplify cmdutil.Factory and drop signal double-wrap
  cmd/adapt_test.go
  cmd/canonicalize_test.go
  cmd/cmd_test.go
  cmd/completion_test.go
  cmd/completions.go
  cmd/completions_test.go
  cmd/config_init_test.go
  cmd/config_validate_test.go
  cmd/init.go
  cmd/init_test.go
  cmd/library_add_test.go
  cmd/library_create_test.go
  cmd/library_init_test.go
  cmd/library_refresh_test.go
  cmd/library_remove_test.go
  cmd/library_test.go
  cmd/library_validate_test.go
  cmd/presets_test.go
  cmd/resources.go
  cmd/resources_test.go
  cmd/show_test.go
  cmd/validate_test.go
  cmd/version.go
  cmd/version_test.go
  internal/cmdutil/AGENTS.md
  internal/cmdutil/factory.go
  internal/cmdutil/factory_test.go
  internal/cmdutil/factory_wiring_test.go
  main.go
Due: lint, test, release, mirror-to-github

Delete permission.Adapter and define parser's platformAdapter locally
  internal/claude-code/claude_code_adapter.go
  internal/opencode/opencode_adapter.go
  internal/parser/platform_parser.go
  internal/permission/adapter.go
  internal/permission/doc.go
Due: lint, test, release, mirror-to-github

Serialise library writes with withFileLock across save/add/remove/refresh
  go.mod
  go.sum
  internal/library/adder.go
  internal/library/lock.go
  internal/library/refresher.go
  internal/library/remover.go
  internal/library/saver.go
  internal/library/saver_test.go
Due: lint, test, release, mirror-to-github

Add Unwrap to NotFoundError for typed-error symmetry
  internal/core/errors.go
  internal/core/errors_test.go
Due: lint, test, release, mirror-to-github

Wire --verbose flag through PersistentPreRunE to IOStreams.Verbose
  cmd/root.go
  cmd/root_test.go
Due: lint, test, release, mirror-to-github

Document architecture changes and reconcile OperationError spec
  .golangci.yml
  cmd/AGENTS.md
  cmd/presets.go
  internal/AGENTS.md
  internal/core/AGENTS.md
  openspec/specs/cli-error-formatting/spec.md
Due: none

Release v1.0.0
  CHANGELOG.md
Due: lint, test, release, mirror-to-github

Path conditions:
  build-ci-image: any of: Dockerfile.ci, .mise/config.toml
  lint: not (any of: openspec/**/*)
  test: not (any of: openspec/**/*)
  create-version-tag: any of: internal/version/version.go
  release: not (any of: openspec/**/*)
  mirror-to-github: not (any of: openspec/**/*)
