Repository amauryconstant/germinator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, lint, test, create-version-tag, release, mirror-to-github

build-ci-image:
  stage: build-ci
  image:
    name: docker:29.1.4-cli
  services:
  - name: docker:29.1.4-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    CI_REGISTRY: registry.gitlab.com
    CI_REGISTRY_IMAGE: $CI_REGISTRY/amoconst/germinator/ci
  before_script:
  - apk add --no-cache curl
  ...

lint:
  stage: validate
  needs:
  - setup
  cache:
    key:
      files:
      - .cache-key
    paths:
    - .cache/go-mod/
    - .go/pkg/mod/
    policy: pull
  interruptible: true
  script:
  - golangci-lint run

test:
  stage: validate
  needs:
  - setup
  cache:
    key:
      files:
      - .cache-key
    paths:
    - .cache/go-mod/
    - .go/pkg/mod/
    policy: pull
  script:
  - go test ./... -v

create-version-tag:
  stage: tag
  variables:
    GIT_STRATEGY: clone
  before_script:
  - git config user.email "$GITLAB_USER_EMAIL"
  - git config user.name "$GITLAB_USER_NAME"
  - git remote set-url origin "https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/amoconst/germinator"
  script:
  ...

release:
  stage: distribute
  needs:
  - lint
  - test
  image:
    name: goreleaser/goreleaser
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 0
    GITLAB_TOKEN: $CI_JOB_TOKEN
  before_script:
  ...

mirror-to-github:
  stage: distribute
  needs:
  - create-version-tag
  variables:
    GIT_STRATEGY: fetch
  script:
  - git remote add github "https://${GITHUB_ACCESS_TOKEN}@github.com/${GITHUB_REPO_URL}.git" || true
  - git push github "$CI_COMMIT_BRANCH" --force
  - git push github --tags --force
  interruptible: true

Update OpenSpec automation to 0.13.1
  .opencode/commands/openspec-phase2.md
  .opencode/commands/openspec-phase6.md
  .opencode/manifest.json
  .opencode/scripts/lib/osc-common
  .opencode/scripts/lib/osc-phase
  .opencode/scripts/lib/osc-state
  .opencode/scripts/openspec-auto
Due: lint, test, release, mirror-to-github

Review and iterate artifacts for enhance-all-errors
  openspec/changes/enhance-all-errors/tasks.md
Due: none

Apply immutable builder pattern to all error types
  cmd/adapt.go
  cmd/canonicalize.go
  cmd/cmd_test.go
  cmd/error_formatter.go
  cmd/error_formatter_test.go
  cmd/init.go
  cmd/validate.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/manager_test.go
  internal/core/loader.go
  internal/core/loader_test.go
  internal/errors/types.go
  internal/errors/types_test.go
  internal/services/transformer.go
  internal/services/transformer_test.go
  openspec/changes/enhance-all-errors/tasks.md
Due: none

Update error handling section for immutable builder pattern
  internal/AGENTS.md
Due: lint, test, release, mirror-to-github

Sync enhance-all-errors specs to main
  openspec/specs/enhanced-errors/spec.md
Due: none

Archive change enhance-all-errors
  openspec/changes/archive/2026-03-05-enhance-all-errors/.openspec.yaml
  openspec/changes/archive/2026-03-05-enhance-all-errors/decision-log.json
  openspec/changes/archive/2026-03-05-enhance-all-errors/design.md
  openspec/changes/archive/2026-03-05-enhance-all-errors/iterations.json
  openspec/changes/archive/2026-03-05-enhance-all-errors/openspec-auto.log
  openspec/changes/archive/2026-03-05-enhance-all-errors/proposal.md
  openspec/changes/archive/2026-03-05-enhance-all-errors/reflections.md
  openspec/changes/archive/2026-03-05-enhance-all-errors/specs/enhanced-errors/spec.md
  openspec/changes/archive/2026-03-05-enhance-all-errors/suggestions.md
  openspec/changes/archive/2026-03-05-enhance-all-errors/tasks.md
  openspec/changes/archive/2026-03-05-enhance-all-errors/verification-report.md
Due: none

Normalize whitespace in markdown files
  .opencode/commands/opsx-changelog.md
  .opencode/commands/opsx-verify-tests.md
  .opencode/scripts/prompt-template.md
  .opencode/skills/openspec-concepts/SKILL.md
  .opencode/skills/openspec-concepts/references/artifact-formats.md
  .opencode/skills/openspec-concepts/references/change-guidance.md
  .opencode/skills/openspec-concepts/references/cli-reference.md
  .opencode/skills/openspec-concepts/references/opsx-lifecycle.md
  .opencode/skills/openspec-generate-changelog/references/proposal-parsing-guide.md
  .opencode/skills/openspec-maintain-ai-docs/SKILL.md
  .opencode/skills/openspec-maintain-ai-docs/references/doc-structures.md
  .opencode/skills/openspec-maintain-ai-docs/references/update-examples.md
  .opencode/skills/openspec-maintain-ai-docs/references/update-rules.md
  .opencode/skills/openspec-modify-artifacts/SKILL.md
  .opencode/skills/openspec-review-test-compliance/references/test-discovery-strategies.md
  cmd/AGENTS.md
  openspec/changes/archive/2026-02-04-add-opencode-platform/specs/infrastructure/platform-field-mappings/spec.md
  openspec/changes/archive/2026-02-04-add-opencode-platform/specs/models/germinator-source-format/spec.md
  openspec/changes/archive/2026-02-04-add-opencode-platform/tasks.md
  openspec/changes/archive/2026-02-11-canonical-format-redesign/specs/models/germinator-source-format/spec.md
  openspec/changes/archive/2026-03-02-add-library-init-system/reflections.md
  openspec/changes/archive/2026-03-02-di-foundation/proposal.md
  openspec/changes/archive/2026-03-02-di-foundation/specs/dependency-injection/spec.md
  openspec/changes/archive/2026-03-02-e2e-testing-ginkgo/design.md
  openspec/changes/archive/2026-03-03-introduce-service-interfaces/specs/dependency-injection/spec.md
  openspec/changes/archive/2026-03-05-enhance-all-errors/reflections.md
  openspec/changes/archive/2026-03-05-enhance-all-errors/verification-report.md
  openspec/research/AGENTS.md
  openspec/specs/dependency-injection/spec.md
  openspec/specs/documents/document-serialization/spec.md
  openspec/specs/infrastructure/ci-image/spec.md
  openspec/specs/infrastructure/configuration-documentation/spec.md
  openspec/specs/infrastructure/release-management/spec.md
  openspec/specs/quality/code-quality/spec.md
  test/AGENTS.md
Due: none

Refactor CLI commands for consistency
  cmd/adapt.go
  cmd/canonicalize.go
  cmd/config.go
  cmd/error_handler.go
  cmd/init.go
  cmd/validate.go
  cmd/version.go
Due: lint, test, release, mirror-to-github

Migrate error handling to typed errors across codebase
  internal/adapters/claude-code/claude_code_adapter.go
  internal/adapters/opencode/opencode_adapter.go
  internal/core/parser.go
  internal/core/platform_parser.go
  internal/core/serializer.go
  internal/errors/types.go
  internal/library/library.go
  internal/library/loader.go
  internal/library/resolver.go
  internal/services/initializer.go
  openspec/specs/enhanced-errors/spec.md
Due: none

Refactor formatting functions to CLI layer
  cmd/AGENTS.md
  cmd/formatters.go
  cmd/init.go
  cmd/library.go
  cmd/library_formatters.go
  internal/library/AGENTS.md
  internal/library/lister.go
  internal/library/lister_test.go
  internal/services/initializer.go
  internal/services/initializer_test.go
Due: lint, test, release, mirror-to-github

Migrate remaining library resolver errors to typed errors
  internal/library/resolver.go
Due: lint, test, release, mirror-to-github

Reorganize OpenSpec specs into category-based structure
  openspec/specs/AGENTS.md
  openspec/specs/application/configuration/spec.md
  openspec/specs/application/dependency-injection/spec.md
  openspec/specs/application/service-contracts/spec.md
  openspec/specs/cli/error-formatting/spec.md
  openspec/specs/cli/exit-codes/spec.md
  openspec/specs/cli/framework/spec.md
  openspec/specs/cli/init-command/spec.md
  openspec/specs/cli/verbose-output/spec.md
  openspec/specs/core/document-loading/spec.md
  openspec/specs/core/yaml-parsing/spec.md
  openspec/specs/documents/document-serialization/spec.md
  openspec/specs/errors/enhanced-errors/spec.md
  openspec/specs/errors/enhanced-validation-errors/spec.md
  openspec/specs/errors/typed-errors/spec.md
  openspec/specs/infrastructure/code-quality/spec.md
  openspec/specs/infrastructure/configuration-documentation/spec.md
  openspec/specs/library/library-system/spec.md
  openspec/specs/library/resource-installation/spec.md
  openspec/specs/models/canonical-source-format/spec.md
  openspec/specs/models/germinator-source-format/spec.md
  openspec/specs/models/platform-agnostic-models/spec.md
  openspec/specs/testing/e2e-canonicalize-tests/spec.md
  openspec/specs/testing/e2e-testing/spec.md
  openspec/specs/transformation/platform-field-mappings/spec.md
  openspec/specs/validation/composable-validators/spec.md
  openspec/specs/validation/opencode-platform-validation/spec.md
  openspec/specs/validation/platform-agnostic-validation/spec.md
  openspec/specs/validation/result-type/spec.md
  openspec/specs/validation/validation-pipeline/spec.md
Due: none

Release v0.6.0
  CHANGELOG.md
Due: lint, test, release, mirror-to-github

Update OpenSpec automation to 0.13.2
  .gitignore
  .opencode/agents/openspec-analyzer.md
  .opencode/agents/openspec-builder.md
  .opencode/agents/openspec-maintainer.md
  .opencode/manifest.json
  .opencode/scripts/openspec-auto
Due: lint, test, release, mirror-to-github

Add missing canonicalize completion task to tasks.md
  openspec/changes/add-carapace-completion/tasks.md
Due: none

Integrate carapace shell completion support
  cmd/adapt.go
  cmd/canonicalize.go
  cmd/completion.go
  cmd/completions.go
  cmd/init.go
  cmd/library.go
  cmd/root.go
  cmd/validate.go
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  openspec/changes/add-carapace-completion/tasks.md
Due: none

Implement completion action unit tests
  cmd/completions_test.go
  openspec/changes/add-carapace-completion/tasks.md
Due: none

Document completion command in AGENTS.md
  cmd/AGENTS.md
  internal/config/AGENTS.md
  openspec/changes/add-carapace-completion/tasks.md
Due: none

Sync add-carapace-completion specs to main
  openspec/specs/shell-completion/spec.md
Due: none

Archive change add-carapace-completion
  openspec/changes/archive/2026-03-13-add-carapace-completion/.openspec.yaml
  openspec/changes/archive/2026-03-13-add-carapace-completion/decision-log.json
  openspec/changes/archive/2026-03-13-add-carapace-completion/design.md
  openspec/changes/archive/2026-03-13-add-carapace-completion/iterations.json
  openspec/changes/archive/2026-03-13-add-carapace-completion/osx-orchestrate.log
  openspec/changes/archive/2026-03-13-add-carapace-completion/proposal.md
  openspec/changes/archive/2026-03-13-add-carapace-completion/reflections.md
  openspec/changes/archive/2026-03-13-add-carapace-completion/specs/shell-completion/spec.md
  openspec/changes/archive/2026-03-13-add-carapace-completion/suggestions.md
  openspec/changes/archive/2026-03-13-add-carapace-completion/tasks.md
  openspec/changes/archive/2026-03-13-add-carapace-completion/verification-report.md
Due: none

Update Go to 1.26.1 and development tools
  .mise/config.toml
Due: build-ci-image, lint, test, release, mirror-to-github

Add OpenSpec changes for DDD-light architecture migration
  openspec/changes/cli-rune-migration/.openspec.yaml
  openspec/changes/cli-rune-migration/design.md
  openspec/changes/cli-rune-migration/proposal.md
  openspec/changes/cli-rune-migration/specs/cli-error-handling/spec.md
  openspec/changes/cli-rune-migration/tasks.md
  openspec/changes/comprehensive-linting/.openspec.yaml
  openspec/changes/comprehensive-linting/design.md
  openspec/changes/comprehensive-linting/proposal.md
  openspec/changes/comprehensive-linting/specs/comprehensive-linting/spec.md
  openspec/changes/comprehensive-linting/tasks.md
  openspec/changes/domain-restructure/.openspec.yaml
  openspec/changes/domain-restructure/design.md
  openspec/changes/domain-restructure/proposal.md
  openspec/changes/domain-restructure/specs/domain-structure/spec.md
  openspec/changes/domain-restructure/tasks.md
  openspec/changes/infrastructure-restructure/.openspec.yaml
  openspec/changes/infrastructure-restructure/design.md
  openspec/changes/infrastructure-restructure/proposal.md
  openspec/changes/infrastructure-restructure/specs/infrastructure-structure/spec.md
  openspec/changes/infrastructure-restructure/tasks.md
  openspec/changes/mock-infrastructure/.openspec.yaml
  openspec/changes/mock-infrastructure/design.md
  openspec/changes/mock-infrastructure/proposal.md
  openspec/changes/mock-infrastructure/specs/mock-infrastructure/spec.md
  openspec/changes/mock-infrastructure/tasks.md
Due: none

Add testify/mock dependency for mock infrastructure
  go.mod
  go.sum
Due: lint, test, release, mirror-to-github

Create testify/mock implementations for application interfaces
  cmd/error_formatter.go
  cmd/error_formatter_test.go
  cmd/formatters.go
  cmd/library_formatters.go
  test/mocks/AGENTS.md
  test/mocks/canonicalizer_mock.go
  test/mocks/doc.go
  test/mocks/initializer_mock.go
  test/mocks/transformer_mock.go
  test/mocks/validator_mock.go
Due: lint, test, release, mirror-to-github

Create test helpers directory and example mock test
  cmd/validate_test.go
  test/helpers/doc.go
Due: lint, test, release, mirror-to-github

Update test documentation with mock usage patterns
  openspec/changes/mock-infrastructure/tasks.md
  test/AGENTS.md
Due: none

Update documentation for mock-infrastructure
  AGENTS.md
Due: lint, test, release, mirror-to-github

Add mock-infrastructure spec
  openspec/specs/testing/mock-infrastructure/spec.md
Due: none

Archive change mock-infrastructure
  openspec/changes/archive/2026-03-18-mock-infrastructure/.openspec.yaml
  openspec/changes/archive/2026-03-18-mock-infrastructure/decision-log.json
  openspec/changes/archive/2026-03-18-mock-infrastructure/design.md
  openspec/changes/archive/2026-03-18-mock-infrastructure/iterations.json
  openspec/changes/archive/2026-03-18-mock-infrastructure/osx-orchestrate.log
  openspec/changes/archive/2026-03-18-mock-infrastructure/proposal.md
  openspec/changes/archive/2026-03-18-mock-infrastructure/reflections.md
  openspec/changes/archive/2026-03-18-mock-infrastructure/specs/mock-infrastructure/spec.md
  openspec/changes/archive/2026-03-18-mock-infrastructure/tasks.md
  openspec/changes/archive/2026-03-18-mock-infrastructure/verification-report.md
Due: none

Exclude log files from pre-commit whitespace checks
  .pre-commit-config.yaml
Due: lint, test, release, mirror-to-github

Migrate CLI commands from Run to RunE pattern with centralized error handling
  cmd/adapt.go
  cmd/canonicalize.go
  cmd/cmd_test.go
  cmd/error_handler.go
  cmd/init.go
  cmd/library.go
  cmd/validate.go
  main.go
  openspec/changes/cli-rune-migration/tasks.md
Due: none

Fix E2E test expectations for new exit code mappings
  openspec/changes/cli-rune-migration/tasks.md
  test/e2e/init_test.go
Due: none

Update cmd/AGENTS.md for RunE pattern and centralized error handling
  cmd/AGENTS.md
Due: lint, test, release, mirror-to-github

Sync cli-rune-migration specs to main
  openspec/specs/cli/exit-codes/spec.md
  openspec/specs/cli/framework/spec.md
Due: none

Archive change cli-rune-migration
  openspec/changes/archive/2026-03-18-cli-rune-migration/.openspec.yaml
  openspec/changes/archive/2026-03-18-cli-rune-migration/decision-log.json
  openspec/changes/archive/2026-03-18-cli-rune-migration/design.md
  openspec/changes/archive/2026-03-18-cli-rune-migration/iterations.json
  openspec/changes/archive/2026-03-18-cli-rune-migration/osx-orchestrate.log
  openspec/changes/archive/2026-03-18-cli-rune-migration/proposal.md
  openspec/changes/archive/2026-03-18-cli-rune-migration/reflections.md
  openspec/changes/archive/2026-03-18-cli-rune-migration/specs/cli-error-handling/spec.md
  openspec/changes/archive/2026-03-18-cli-rune-migration/tasks.md
  openspec/changes/archive/2026-03-18-cli-rune-migration/verification-report.md
Due: none

Review and iterate artifacts for domain-restructure
  openspec/changes/domain-restructure/proposal.md
Due: none

Remove old source files and directories after domain restructure
  internal/errors/AGENTS.md
  internal/errors/types.go
  internal/models/canonical/doc.go
  internal/models/canonical/models.go
  internal/validation/AGENTS.md
  internal/validation/pipeline.go
  internal/validation/result.go
  internal/validation/validators.go
Due: lint, test, release, mirror-to-github

Path conditions:
  build-ci-image: any of: Dockerfile.ci, .mise/config.toml
  lint: not (any of: openspec/**/*)
  test: not (any of: openspec/**/*)
  create-version-tag: any of: internal/version/version.go
  release: not (any of: openspec/**/*)
  mirror-to-github: not (any of: openspec/**/*)
