Repository amauryconstant/germinator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, lint, test, create-version-tag, release, mirror-to-github

build-ci-image:
  stage: build-ci
  image:
    name: docker:29.1.4-cli
  services:
  - name: docker:29.1.4-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    CI_REGISTRY: registry.gitlab.com
    CI_REGISTRY_IMAGE: $CI_REGISTRY/amoconst/germinator/ci
  before_script:
  - apk add --no-cache curl
  ...

lint:
  stage: validate
  needs:
  - setup
  cache:
    key:
      files:
      - .cache-key
    paths:
    - .cache/go-mod/
    - .go/pkg/mod/
    policy: pull
  interruptible: true
  script:
  - golangci-lint run

test:
  stage: validate
  needs:
  - setup
  cache:
    key:
      files:
      - .cache-key
    paths:
    - .cache/go-mod/
    - .go/pkg/mod/
    policy: pull
  script:
  - go test ./... -v

create-version-tag:
  stage: tag
  variables:
    GIT_STRATEGY: clone
  before_script:
  - git config user.email "$GITLAB_USER_EMAIL"
  - git config user.name "$GITLAB_USER_NAME"
  - git remote set-url origin "https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/amoconst/germinator"
  script:
  ...

release:
  stage: distribute
  needs:
  - lint
  - test
  image:
    name: goreleaser/goreleaser
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 0
    GITLAB_TOKEN: $CI_JOB_TOKEN
  before_script:
  ...

mirror-to-github:
  stage: distribute
  needs:
  - create-version-tag
  variables:
    GIT_STRATEGY: fetch
  script:
  - git remote add github "https://${GITHUB_ACCESS_TOKEN}@github.com/${GITHUB_REPO_URL}.git" || true
  - git push github "$CI_COMMIT_BRANCH" --force
  - git push github --tags --force
  interruptible: true

Clean up CI pipeline configuration
  .gitlab-ci.yml
  internal/version/version.go
Due: lint, test, create-version-tag, release, mirror-to-github

Add version bump enforcement, GoReleaser dry-run, and tag serialization
  .gitlab-ci.yml
  internal/version/version.go
  openspec/changes/simplify-ci-workflow/proposal.md
  openspec/changes/simplify-ci-workflow/specs/ci-workflow/spec.md
  openspec/changes/simplify-ci-workflow/tasks.md
Due: create-version-tag

Archive OpenSpec changes and apply spec deltas
  .opencode/command/openspec-archive.md
  .opencode/command/openspec-proposal.md
  openspec/AGENTS.md
  openspec/changes/archive/2026-01-15-optimize-ci-infrastructure/proposal.md
  openspec/changes/archive/2026-01-15-optimize-ci-infrastructure/specs/ci-image/spec.md
  openspec/changes/archive/2026-01-15-optimize-ci-infrastructure/tasks.md
  openspec/changes/archive/2026-01-15-simplify-ci-workflow/proposal.md
  openspec/changes/archive/2026-01-15-simplify-ci-workflow/specs/ci-workflow/spec.md
  openspec/changes/archive/2026-01-15-simplify-ci-workflow/specs/release-management/spec.md
  openspec/changes/archive/2026-01-15-simplify-ci-workflow/tasks.md
  openspec/specs/ci-image/spec.md
  openspec/specs/ci-workflow/spec.md
  openspec/specs/release-management/spec.md
Due: none

Fix mirror job dependency on optional tag creation job
  .gitlab-ci.yml
  internal/version/version.go
Due: lint, test, create-version-tag, release, mirror-to-github

Trigger pipeline after tag creation to ensure release job executes
  .gitlab-ci.yml
  AGENTS.md
  internal/version/version.go
  openspec/specs/ci-workflow/spec.md
  openspec/specs/release-management/spec.md
Due: create-version-tag

Simplify release process to use git tags as single source of truth
  .gitlab-ci.yml
  .mise/config.toml
  .mise/tasks/release/tag.sh
  .mise/tasks/release/validate.sh
  .mise/tasks/version.sh
  AGENTS.md
  internal/version/version.go
  openspec/specs/ci-workflow/spec.md
  openspec/specs/mise-task-runner/spec.md
  openspec/specs/release-management/spec.md
Due: build-ci-image, create-version-tag

Optimize build-ci-image job to only run when Dockerfile.ci or config.toml changes
  .gitlab-ci.yml
  openspec/specs/ci-workflow/spec.md
Due: none

Fix release hanging caused by duplicate SBOM filenames
  .goreleaser.yml
  openspec/specs/release-management/spec.md
Due: none

Remove .gitkeep files
  config/.gitkeep
  config/adapters/.gitkeep
  config/schemas/.gitkeep
  config/templates/.gitkeep
  test/.gitkeep
  test/fixtures/.gitkeep
  test/golden/.gitkeep
Due: lint, test, release, mirror-to-github

Add `pre-commit` to mise
  .mise/config.toml
  .pre-commit-config.yaml
Due: build-ci-image, lint, test, release, mirror-to-github

Transition openspec framework to v1
  .opencode/command/openspec-apply.md
  .opencode/command/openspec-archive.md
  .opencode/command/openspec-proposal.md
  .opencode/command/opsx-apply.md
  .opencode/command/opsx-archive.md
  .opencode/command/opsx-bulk-archive.md
  .opencode/command/opsx-continue.md
  .opencode/command/opsx-explore.md
  .opencode/command/opsx-ff.md
  .opencode/command/opsx-new.md
  .opencode/command/opsx-onboard.md
  .opencode/command/opsx-sync.md
  .opencode/command/opsx-verify.md
  .opencode/skills/openspec-apply-change/SKILL.md
  .opencode/skills/openspec-archive-change/SKILL.md
  .opencode/skills/openspec-bulk-archive-change/SKILL.md
  .opencode/skills/openspec-continue-change/SKILL.md
  .opencode/skills/openspec-explore/SKILL.md
  .opencode/skills/openspec-ff-change/SKILL.md
  .opencode/skills/openspec-new-change/SKILL.md
  .opencode/skills/openspec-onboard/SKILL.md
  .opencode/skills/openspec-sync-specs/SKILL.md
  .opencode/skills/openspec-verify-change/SKILL.md
  AGENTS.md
  openspec/AGENTS.md
  openspec/config.yaml
  openspec/project.md
Due: none

Add agents-md-manager skill for AGENTS.md validation
  .opencode/skills/agents-md-manager/SKILL.md
  .opencode/skills/agents-md-manager/references/guidelines.md
  .opencode/skills/agents-md-manager/references/quality-checklist.md
  .opencode/skills/agents-md-manager/scripts/validate_agents_md.py
Due: lint, test, release, mirror-to-github

Refactor AGENTS.md to improve token efficiency
  AGENTS.md
Due: lint, test, release, mirror-to-github

Amend existing specs to match actual implementation
  openspec/specs/ci-workflow/spec.md
  openspec/specs/cli-framework/spec.md
  openspec/specs/domain-models/spec.md
  openspec/specs/mise-task-runner/spec.md
  openspec/specs/project-layout/spec.md
  openspec/specs/validation-scripts/spec.md
  openspec/specs/yaml-parsing/spec.md
Due: none

Reorganize OpenSpec specs into domain-based structure
  openspec/config.yaml
  openspec/specs/documents/document-loading/spec.md
  openspec/specs/documents/document-serialization/spec.md
  openspec/specs/documents/yaml-parsing/spec.md
  openspec/specs/infrastructure/ci-image/spec.md
  openspec/specs/infrastructure/ci-workflow/spec.md
  openspec/specs/infrastructure/configuration-documentation/spec.md
  openspec/specs/infrastructure/mise-task-runner/spec.md
  openspec/specs/infrastructure/project-layout/spec.md
  openspec/specs/infrastructure/release-management/spec.md
  openspec/specs/infrastructure/validation-scripts/spec.md
  openspec/specs/models/domain-models/spec.md
  openspec/specs/quality/code-quality/spec.md
  openspec/specs/transformation/cli-framework/spec.md
  openspec/specs/transformation/document-transformation/spec.md
Due: none

Add platform capability research documentation
  openspec/config.yaml
  openspec/research/AGENTS.md
  openspec/research/claude-code-docs.md
  openspec/research/opencode-docs.md
Due: none

Add OpenSpec change for OpenCode platform support
  openspec/changes/add-opencode-platform/.openspec.yaml
  openspec/changes/add-opencode-platform/design.md
  openspec/changes/add-opencode-platform/proposal.md
  openspec/changes/add-opencode-platform/specs/documents/document-serialization/spec.md
  openspec/changes/add-opencode-platform/specs/infrastructure/platform-field-mappings/spec.md
  openspec/changes/add-opencode-platform/specs/models/platform-agnostic-models/spec.md
  openspec/changes/add-opencode-platform/specs/quality/opencode-platform-validation/spec.md
  openspec/changes/add-opencode-platform/specs/quality/platform-agnostic-validation/spec.md
  openspec/changes/add-opencode-platform/specs/transformation/opencode-agent-transformation/spec.md
  openspec/changes/add-opencode-platform/specs/transformation/opencode-command-transformation/spec.md
  openspec/changes/add-opencode-platform/specs/transformation/opencode-memory-transformation/spec.md
  openspec/changes/add-opencode-platform/specs/transformation/opencode-skill-transformation/spec.md
  openspec/changes/add-opencode-platform/specs/transformation/permission-transformation/spec.md
  openspec/changes/add-opencode-platform/tasks.md
Due: none

Update models and validation for OpenCode platform support
  cmd/cmd_test.go
  cmd/validate.go
  internal/core/integration_test.go
  internal/core/loader.go
  internal/models/models.go
  internal/models/models_test.go
  internal/services/transformer.go
  internal/services/transformer_test.go
  openspec/changes/add-opencode-platform/proposal.md
  openspec/changes/add-opencode-platform/tasks.md
Due: none

Add permission transformation template functions
  internal/core/serializer.go
  internal/core/template_funcs.go
  internal/core/template_funcs_test.go
  openspec/changes/add-opencode-platform/tasks.md
Due: none

Add unknown platform validation to all models
  internal/models/models.go
  internal/models/models_test.go
  openspec/changes/add-opencode-platform/tasks.md
Due: none

Add OpenCode platform template support
  config/templates/opencode/agent.tmpl
  config/templates/opencode/command.tmpl
  config/templates/opencode/memory.tmpl
  config/templates/opencode/skill.tmpl
  internal/core/serializer_test.go
  internal/core/template_funcs.go
  internal/core/template_funcs_test.go
  openspec/changes/add-opencode-platform/proposal.md
  openspec/changes/add-opencode-platform/tasks.md
  test/fixtures/opencode/agent-full.md
  test/fixtures/opencode/agent-mixed-tools.md
  test/fixtures/opencode/code-reviewer-agent.md
Due: none

Add openspec-modify-artifact skill for autonomous updates
  .opencode/skills/openspec-modify-artifact/SKILL.md
Due: lint, test, release, mirror-to-github

Enable Germinator source format with parseable OpenCode fields
  internal/models/models.go
  openspec/changes/add-opencode-platform/design.md
  openspec/changes/add-opencode-platform/proposal.md
  openspec/changes/add-opencode-platform/specs/models/germinator-source-format/spec.md
  openspec/changes/add-opencode-platform/specs/models/platform-agnostic-models/spec.md
  openspec/changes/add-opencode-platform/specs/quality/opencode-platform-validation/spec.md
  openspec/changes/add-opencode-platform/specs/transformation/opencode-agent-transformation/spec.md
  openspec/changes/add-opencode-platform/tasks.md
Due: none

Add OpenCode platform-specific validation functions
  internal/services/transformer.go
  internal/services/transformer_test.go
  openspec/changes/add-opencode-platform/tasks.md
Due: none

Add OpenCode test fixtures for all document types
  openspec/changes/add-opencode-platform/tasks.md
  test/fixtures/opencode/agent-full.md
  test/fixtures/opencode/agent-mixed-tools.md
  test/fixtures/opencode/code-reviewer-agent.md
  test/fixtures/opencode/command-full.md
  test/fixtures/opencode/command-with-arguments.md
  test/fixtures/opencode/git-workflow-skill/SKILL.md
  test/fixtures/opencode/memory-both.md
  test/fixtures/opencode/memory-content-only.md
  test/fixtures/opencode/memory-paths-only.md
  test/fixtures/opencode/run-tests-command.md
  test/fixtures/opencode/skill-full.md
Due: none

Add OpenCode golden files for all document types
  openspec/changes/add-opencode-platform/tasks.md
  test/golden/opencode/agent-full.md.golden
  test/golden/opencode/agent-mixed-tools.md.golden
  test/golden/opencode/code-reviewer-agent.md.golden
  test/golden/opencode/command-full.md.golden
  test/golden/opencode/command-with-arguments.md.golden
  test/golden/opencode/git-workflow-skill/SKILL.md.golden
  test/golden/opencode/memory-both.md.golden
  test/golden/opencode/memory-content-only.md.golden
  test/golden/opencode/memory-paths-only.md.golden
  test/golden/opencode/permission-acceptedits.md.golden
  test/golden/opencode/permission-bypasspermissions.md.golden
  test/golden/opencode/permission-default.md.golden
  test/golden/opencode/permission-dontask.md.golden
  test/golden/opencode/permission-plan.md.golden
  test/golden/opencode/run-tests-command.md.golden
  test/golden/opencode/skill-full.md.golden
Due: none

Add comprehensive OpenCode transformation tests and fixtures
  internal/services/transformer_test.go
  openspec/changes/add-opencode-platform/tasks.md
  test/fixtures/agent-test.md
  test/fixtures/command-test.md
  test/fixtures/skill-test.md
Due: none

Add --platform flag requirement to adapt and validate commands
  cmd/adapt.go
  cmd/cmd_test.go
  cmd/root.go
  cmd/validate.go
  openspec/changes/add-opencode-platform/tasks.md
Due: none

Add comprehensive documentation for OpenCode platform support
  AGENTS.md
  README.md
  openspec/changes/add-opencode-platform/tasks.md
Due: none

Integrate OpenCode validation into Validate methods
  internal/models/models.go
  internal/models/models_test.go
  internal/services/transformer.go
  internal/services/transformer_test.go
Due: lint, test, release, mirror-to-github

Fix OpenCode platform verification issues
  config/templates/opencode/command.tmpl
  config/templates/opencode/memory.tmpl
  config/templates/opencode/skill.tmpl
  internal/core/parser.go
  internal/core/serializer_test.go
  internal/services/transformer_test.go
  openspec/changes/add-opencode-platform/tasks.md
  test/fixtures/opencode/git-workflow-skill/git-workflow-skill.md
  test/golden/opencode/agent-full.md.golden
  test/golden/opencode/command-full.md.golden
  test/golden/opencode/git-workflow-skill/git-workflow-skill.md.golden
Due: none

Add teaching instructions to memory template and clarify command terminology
  config/templates/opencode/memory.tmpl
  openspec/changes/add-opencode-platform/proposal.md
  openspec/changes/add-opencode-platform/specs/transformation/opencode-command-transformation/spec.md
  test/golden/opencode/memory-both.md.golden
  test/golden/opencode/memory-content-only.md.golden
  test/golden/opencode/memory-paths-only.md.golden
Due: none

Add golden file test suite with UPDATE_GOLDEN regeneration mechanism
  .mise/config.toml
  internal/services/transformer_golden_test.go
  openspec/changes/add-opencode-platform/design.md
  openspec/changes/add-opencode-platform/proposal.md
  openspec/changes/add-opencode-platform/tasks.md
  test/README.md
  test/fixtures/opencode/agent-permission-acceptedits.md
  test/fixtures/opencode/agent-permission-bypasspermissions.md
  test/fixtures/opencode/agent-permission-default.md
  test/fixtures/opencode/agent-permission-dontask.md
  test/fixtures/opencode/agent-permission-plan.md
  test/golden/opencode/agent-full.md.golden
  test/golden/opencode/agent-mixed-tools.md.golden
  test/golden/opencode/code-reviewer-agent.md.golden
  test/golden/opencode/memory-both.md.golden
  test/golden/opencode/memory-content-only.md.golden
  test/golden/opencode/memory-paths-only.md.golden
  test/golden/opencode/permission-acceptedits.md.golden
  test/golden/opencode/permission-bypasspermissions.md.golden
  test/golden/opencode/permission-default.md.golden
  test/golden/opencode/permission-dontask.md.golden
  test/golden/opencode/skill-full.md.golden
Due: build-ci-image

Improve test coverage and infrastructure for OpenCode platform
  cmd/cmd_test.go
  internal/core/integration_test.go
  internal/core/loader_test.go
  internal/core/parser_test.go
  internal/core/template_funcs.go
  internal/services/transformer_test.go
  internal/version/version_test.go
  openspec/changes/add-opencode-platform/tasks.md
  test/README.md
  test/golden/opencode/agent-full.md.golden
  test/golden/opencode/agent-mixed-tools.md.golden
  test/golden/opencode/code-reviewer-agent.md.golden
  test/golden/opencode/permission-acceptedits.md.golden
  test/golden/opencode/permission-bypasspermissions.md.golden
  test/golden/opencode/permission-default.md.golden
  test/golden/opencode/permission-dontask.md.golden
  test/golden/opencode/permission-plan.md.golden
Due: none

Refine OpenCode and Claude Code research documentation for Germinator
  openspec/research/claude-code-docs.md
  openspec/research/opencode-docs.md
Due: none

Refine OpenCode template functions and type handling
  AGENTS.md
  README.md
  cmd/cmd_test.go
  config/templates/opencode/agent.tmpl
  go.mod
  go.sum
  internal/core/serializer.go
  internal/core/serializer_test.go
  internal/models/models.go
  internal/services/transformer_test.go
  openspec/changes/add-opencode-platform/design.md
  openspec/changes/add-opencode-platform/proposal.md
  openspec/changes/add-opencode-platform/specs/infrastructure/platform-field-mappings/spec.md
  openspec/changes/add-opencode-platform/specs/models/germinator-source-format/spec.md
  openspec/changes/add-opencode-platform/specs/models/platform-agnostic-models/spec.md
  openspec/changes/add-opencode-platform/specs/quality/opencode-platform-validation/spec.md
  openspec/changes/add-opencode-platform/specs/quality/platform-agnostic-validation/spec.md
  openspec/changes/add-opencode-platform/specs/transformation/opencode-agent-transformation/spec.md
  openspec/changes/add-opencode-platform/specs/transformation/opencode-command-transformation/spec.md
  openspec/changes/add-opencode-platform/specs/transformation/permission-transformation/spec.md
  openspec/changes/add-opencode-platform/tasks.md
Due: none

Expand OpenCode permission transformation and template fixes
  cmd/cmd_test.go
  config/templates/opencode/agent.tmpl
  config/templates/opencode/command.tmpl
  internal/core/serializer_test.go
  internal/core/template_funcs.go
  internal/models/constants.go
  internal/models/models.go
  internal/services/transformer_test.go
  openspec/changes/add-opencode-platform/tasks.md
  test/golden/opencode/agent-full.md.golden
  test/golden/opencode/agent-mixed-tools.md.golden
  test/golden/opencode/code-reviewer-agent.md.golden
  test/golden/opencode/command-full.md.golden
  test/golden/opencode/command-with-arguments.md.golden
  test/golden/opencode/permission-acceptedits.md.golden
  test/golden/opencode/permission-bypasspermissions.md.golden
  test/golden/opencode/permission-default.md.golden
  test/golden/opencode/permission-dontask.md.golden
  test/golden/opencode/permission-plan.md.golden
  test/golden/opencode/run-tests-command.md.golden
Due: none

Update openspec commands
  .opencode/command/opsx-apply.md
  .opencode/command/opsx-archive.md
  .opencode/command/opsx-bulk-archive.md
  .opencode/command/opsx-continue.md
  .opencode/command/opsx-explore.md
  .opencode/command/opsx-ff.md
  .opencode/command/opsx-new.md
  .opencode/command/opsx-onboard.md
  .opencode/command/opsx-sync.md
  .opencode/command/opsx-verify.md
  .opencode/skills/openspec-apply-change/SKILL.md
  .opencode/skills/openspec-archive-change/SKILL.md
  .opencode/skills/openspec-bulk-archive-change/SKILL.md
  .opencode/skills/openspec-continue-change/SKILL.md
  .opencode/skills/openspec-explore/SKILL.md
  .opencode/skills/openspec-ff-change/SKILL.md
  .opencode/skills/openspec-new-change/SKILL.md
  .opencode/skills/openspec-onboard/SKILL.md
  .opencode/skills/openspec-sync-specs/SKILL.md
  .opencode/skills/openspec-verify-change/SKILL.md
Due: lint, test, release, mirror-to-github

Fix error handling and deduplicate platform validation
  cmd/adapt.go
  cmd/validate.go
  internal/models/models.go
  internal/models/validator.go
Due: lint, test, release, mirror-to-github

Move OpenCode validation to services package
  AGENTS.md
  internal/models/models.go
  internal/services/transformer.go
  internal/services/transformer_test.go
Due: lint, test, release, mirror-to-github

Path conditions:
  build-ci-image: any of: Dockerfile.ci, .mise/config.toml
  lint: not (any of: openspec/**/*)
  test: not (any of: openspec/**/*)
  create-version-tag: any of: internal/version/version.go
  release: not (any of: openspec/**/*)
  mirror-to-github: not (any of: openspec/**/*)
