Repository amauryconstant/germinator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, lint, test, create-version-tag, release, mirror-to-github

Path conditions:
  build-ci-image: any of: Dockerfile.ci, .mise/config.toml
  lint: not (any of: openspec/**/*)
  test: not (any of: openspec/**/*)
  create-version-tag: any of: internal/version/version.go
  release: not (any of: openspec/**/*)
  mirror-to-github: not (any of: openspec/**/*)

Fix goreleaser-dry-run to use GoReleaser v2 syntax
  .gitlab-ci.yml
  openspec/changes/archive/2026-01-15-simplify-ci-workflow/specs/ci-workflow/spec.md
  openspec/changes/archive/2026-01-15-simplify-ci-workflow/tasks.md
  openspec/specs/infrastructure/ci-workflow/spec.md
Due: none

Correct OpenCode command tool support and field name
  README.md
  cmd/cmd_test.go
  config/templates/opencode/command.tmpl
  openspec/changes/add-opencode-platform/specs/infrastructure/platform-field-mappings/spec.md
  openspec/changes/add-opencode-platform/specs/models/germinator-source-format/spec.md
  openspec/changes/add-opencode-platform/specs/models/platform-agnostic-models/spec.md
  openspec/changes/add-opencode-platform/specs/quality/opencode-platform-validation/spec.md
  openspec/changes/add-opencode-platform/specs/quality/platform-agnostic-validation/spec.md
  openspec/changes/add-opencode-platform/specs/transformation/opencode-agent-transformation/spec.md
Due: none

Archive add-opencode-platform change and sync delta specs
  openspec/changes/archive/2026-02-04-add-opencode-platform/.openspec.yaml
  openspec/changes/archive/2026-02-04-add-opencode-platform/design.md
  openspec/changes/archive/2026-02-04-add-opencode-platform/proposal.md
  openspec/changes/archive/2026-02-04-add-opencode-platform/specs/documents/document-serialization/spec.md
  openspec/changes/archive/2026-02-04-add-opencode-platform/specs/infrastructure/platform-field-mappings/spec.md
  openspec/changes/archive/2026-02-04-add-opencode-platform/specs/models/germinator-source-format/spec.md
  openspec/changes/archive/2026-02-04-add-opencode-platform/specs/models/platform-agnostic-models/spec.md
  openspec/changes/archive/2026-02-04-add-opencode-platform/specs/quality/opencode-platform-validation/spec.md
  openspec/changes/archive/2026-02-04-add-opencode-platform/specs/quality/platform-agnostic-validation/spec.md
  openspec/changes/archive/2026-02-04-add-opencode-platform/specs/transformation/opencode-agent-transformation/spec.md
  openspec/changes/archive/2026-02-04-add-opencode-platform/specs/transformation/opencode-command-transformation/spec.md
  openspec/changes/archive/2026-02-04-add-opencode-platform/specs/transformation/opencode-memory-transformation/spec.md
  openspec/changes/archive/2026-02-04-add-opencode-platform/specs/transformation/opencode-skill-transformation/spec.md
  openspec/changes/archive/2026-02-04-add-opencode-platform/specs/transformation/permission-transformation/spec.md
  openspec/changes/archive/2026-02-04-add-opencode-platform/tasks.md
  openspec/research/AGENTS.md
  openspec/specs/documents/document-serialization/spec.md
  openspec/specs/infrastructure/platform-field-mappings/spec.md
  openspec/specs/models/germinator-source-format/spec.md
  openspec/specs/models/platform-agnostic-models/spec.md
  openspec/specs/quality/opencode-platform-validation/spec.md
  openspec/specs/quality/platform-agnostic-validation/spec.md
  openspec/specs/transformation/opencode-agent-transformation/spec.md
  openspec/specs/transformation/opencode-command-transformation/spec.md
  openspec/specs/transformation/opencode-memory-transformation/spec.md
  openspec/specs/transformation/opencode-skill-transformation/spec.md
  openspec/specs/transformation/permission-transformation/spec.md
Due: none

Refactor documentation into hierarchical package-specific structure
  AGENTS.md
  PURPOSE.md
  cmd/AGENTS.md
  config/AGENTS.md
  internal/AGENTS.md
  internal/core/AGENTS.md
  internal/services/AGENTS.md
  test/AGENTS.md
Due: lint, test, release, mirror-to-github

Add OpenSpec concepts skill for AI agents
  .opencode/skills/openspec-concepts/SKILL.md
  .opencode/skills/openspec-concepts/references/artifact-formats.md
  .opencode/skills/openspec-concepts/references/change-guidance.md
Due: lint, test, release, mirror-to-github

Add research documentation maintenance skill
  .opencode/skills/research-update-skill/SKILL.md
  .opencode/skills/research-update-skill/references/format-guide.md
  .opencode/skills/research-update-skill/references/official-sources.md
  .opencode/skills/research-update-skill/references/structure-standards.md
  .opencode/skills/research-update-skill/references/terminology.md
  .opencode/skills/research-update-skill/scripts/regenerate-index.py
  AGENTS.md
  openspec/research/claude-code-docs.md
  openspec/research/opencode-docs.md
Due: none

Add retrieval-led reasoning guidance and update research docs
  AGENTS.md
  openspec/research/claude-code-docs.md
  openspec/research/opencode-docs.md
Due: none

Refactor adapters to use canonical models and Steps field
  config/templates/opencode/agent.tmpl
  internal/adapters/claude-code/claude_code_adapter.go
  internal/adapters/claude-code/claude_code_adapter_test.go
  internal/adapters/helpers_test.go
  internal/adapters/opencode/opencode_adapter.go
  internal/adapters/opencode/opencode_adapter_test.go
  internal/core/loader.go
  internal/core/parser.go
  internal/core/serializer.go
  internal/core/template_funcs.go
  internal/models/canonical/models.go
  internal/services/transformer.go
  openspec/changes/canonical-format-redesign/tasks.md
Due: none

Add canonical models for platform-agnostic configuration
  internal/models/canonical/models.go
  openspec/changes/canonical-format-redesign/tasks.md
Due: none

Add canonical format redesign with platform adapters
  openspec/changes/canonical-format-redesign/.openspec.yaml
  openspec/changes/canonical-format-redesign/design.md
  openspec/changes/canonical-format-redesign/proposal.md
  openspec/changes/canonical-format-redesign/specs/models/canonical-source-format/spec.md
  openspec/changes/canonical-format-redesign/specs/models/domain-models/spec.md
  openspec/changes/canonical-format-redesign/specs/models/germinator-source-format/spec.md
  openspec/changes/canonical-format-redesign/specs/transformation/permission-transformation/spec.md
  openspec/changes/canonical-format-redesign/specs/transformation/platform-adapters/spec.md
  openspec/changes/canonical-format-redesign/tasks.md
Due: none

Add platform adapters for canonical format conversion
  internal/adapters/adapter.go
  internal/adapters/claude-code/claude_code_adapter.go
  internal/adapters/helpers.go
  internal/adapters/opencode/opencode_adapter.go
  internal/models/canonical/models.go
  openspec/changes/canonical-format-redesign/tasks.md
Due: none

Unshallow Git clone for GitHub mirror job
  .gitlab-ci.yml
Due: lint, test, release, mirror-to-github

Update OpenSpec configuration contexts and rules
  openspec/config.yaml
Due: none

Clean up the gitlab-ci file
  .gitlab-ci.yml
Due: lint, test, release, mirror-to-github

Consolidate transformation specs and archive canonical-format-redesign
  config/AGENTS.md
  internal/adapters/claude-code/doc.go
  internal/adapters/opencode/doc.go
  internal/models/canonical/doc.go
  openspec/changes/archive/2026-02-11-canonical-format-redesign/.openspec.yaml
  openspec/changes/archive/2026-02-11-canonical-format-redesign/design.md
  openspec/changes/archive/2026-02-11-canonical-format-redesign/proposal.md
  openspec/changes/archive/2026-02-11-canonical-format-redesign/specs/models/canonical-source-format/spec.md
  openspec/changes/archive/2026-02-11-canonical-format-redesign/specs/models/domain-models/spec.md
  openspec/changes/archive/2026-02-11-canonical-format-redesign/specs/models/germinator-source-format/spec.md
  openspec/changes/archive/2026-02-11-canonical-format-redesign/specs/transformation/permission-transformation/spec.md
  openspec/changes/archive/2026-02-11-canonical-format-redesign/specs/transformation/platform-adapters/spec.md
  openspec/changes/archive/2026-02-11-canonical-format-redesign/tasks.md
  openspec/specs/models/canonical-source-format/spec.md
  openspec/specs/models/domain-models/spec.md
  openspec/specs/models/germinator-source-format/spec.md
  openspec/specs/transformation/opencode-agent-transformation/spec.md
  openspec/specs/transformation/opencode-command-transformation/spec.md
  openspec/specs/transformation/opencode-memory-transformation/spec.md
  openspec/specs/transformation/opencode-skill-transformation/spec.md
  openspec/specs/transformation/permission-transformation/spec.md
  openspec/specs/transformation/platform-adapters/spec.md
  openspec/specs/transformation/template-rendering/spec.md
Due: none

Add canonicalize CLI command
  cmd/canonicalize.go
Due: lint, test, release, mirror-to-github

Add YAML pattern detection to document loader
  internal/core/loader.go
  internal/core/parser.go
Due: lint, test, release, mirror-to-github

Add canonicalization service for platform-to-canonical workflow
  cmd/cmd_test.go
  internal/services/canonicalizer.go
  internal/services/canonicalizer_test.go
  openspec/changes/reverse-transformation/tasks.md
  test/fixtures/claude-code/agent.md
  test/fixtures/claude-code/command.md
  test/fixtures/claude-code/memory.md
  test/fixtures/claude-code/skill.md
  test/fixtures/opencode/agent.md
  test/fixtures/opencode/command.md
  test/fixtures/opencode/memory.md
  test/fixtures/opencode/skill.md
  test/golden/canonical/agent-claude-code.yaml.golden
  test/golden/canonical/agent-opencode.yaml.golden
  test/golden/canonical/agent.yaml.golden
  test/golden/canonical/command-claude-code.yaml.golden
  test/golden/canonical/command-opencode.yaml.golden
  test/golden/canonical/command.yaml.golden
  test/golden/canonical/memory-claude-code.yaml.golden
  test/golden/canonical/memory-opencode.yaml.golden
  test/golden/canonical/memory.yaml.golden
  test/golden/canonical/skill-claude-code.yaml.golden
  test/golden/canonical/skill-opencode.yaml.golden
  test/golden/canonical/skill.yaml.golden
Due: none

Add canonical marshaling with platform-agnostic templates
  config/templates/canonical/agent.tmpl
  config/templates/canonical/command.tmpl
  config/templates/canonical/memory.tmpl
  config/templates/canonical/skill.tmpl
  internal/core/serializer.go
  internal/core/serializer_test.go
Due: lint, test, release, mirror-to-github

Add 2 scenarii to the specs
  openspec/changes/reverse-transformation/specs/platform-to-canonical/spec.md
Due: none

Add platform-to-canonical reverse transformation
  openspec/changes/reverse-transformation/.openspec.yaml
  openspec/changes/reverse-transformation/design.md
  openspec/changes/reverse-transformation/proposal.md
  openspec/changes/reverse-transformation/specs/platform-to-canonical/spec.md
  openspec/changes/reverse-transformation/tasks.md
Due: none

Add platform document parser for reverse transformation
  internal/core/platform_parser.go
  internal/core/platform_parser_test.go
Due: lint, test, release, mirror-to-github

Archive reverse-transformation and sync platform-to-canonical specs
  openspec/changes/archive/2026-02-11-reverse-transformation/.openspec.yaml
  openspec/changes/archive/2026-02-11-reverse-transformation/design.md
  openspec/changes/archive/2026-02-11-reverse-transformation/proposal.md
  openspec/changes/archive/2026-02-11-reverse-transformation/specs/platform-to-canonical/spec.md
  openspec/changes/archive/2026-02-11-reverse-transformation/tasks.md
  openspec/specs/transformation/platform-to-canonical/spec.md
Due: none

Consolidate documentation and add OpenSpec workflow guidance
  AGENTS.md
  config/AGENTS.md
  internal/services/AGENTS.md
  openspec/config.yaml
  test/AGENTS.md
Due: none

Add Twiggit hook for mise trust on clone
  .twiggit.toml
Due: lint, test, release, mirror-to-github

Add cli-infrastructure OpenSpec change
  openspec/changes/cli-infrastructure/design.md
  openspec/changes/cli-infrastructure/proposal.md
  openspec/changes/cli-infrastructure/specs/cli-framework/spec.md
  openspec/changes/cli-infrastructure/specs/document-loading/spec.md
  openspec/changes/cli-infrastructure/specs/document-transformation/spec.md
  openspec/changes/cli-infrastructure/specs/error-formatting/spec.md
  openspec/changes/cli-infrastructure/specs/exit-codes/spec.md
  openspec/changes/cli-infrastructure/specs/typed-errors/spec.md
  openspec/changes/cli-infrastructure/specs/verbose-output/spec.md
  openspec/changes/cli-infrastructure/tasks.md
Due: none

Add typed errors and verbosity to CLI
  cmd/adapt.go
  cmd/canonicalize.go
  cmd/cmd_test.go
  cmd/config.go
  cmd/error_formatter.go
  cmd/error_formatter_test.go
  cmd/error_handler.go
  cmd/root.go
  cmd/validate.go
  cmd/verbose.go
  cmd/verbose_test.go
  internal/core/loader.go
  internal/core/loader_test.go
  internal/core/parser.go
  internal/errors/types.go
  internal/errors/types_test.go
  internal/services/canonicalizer.go
  internal/services/transformer.go
  internal/services/transformer_test.go
  openspec/changes/cli-infrastructure/tasks.md
Due: none

Document CLI infrastructure patterns (errors, exit codes, verbosity)
  cmd/AGENTS.md
  internal/AGENTS.md
Due: lint, test, release, mirror-to-github

Archive cli-infrastructure change and sync specs to main
  openspec/changes/archive/2026-02-28-cli-infrastructure/design.md
  openspec/changes/archive/2026-02-28-cli-infrastructure/proposal.md
  openspec/changes/archive/2026-02-28-cli-infrastructure/specs/cli-framework/spec.md
  openspec/changes/archive/2026-02-28-cli-infrastructure/specs/document-loading/spec.md
  openspec/changes/archive/2026-02-28-cli-infrastructure/specs/document-transformation/spec.md
  openspec/changes/archive/2026-02-28-cli-infrastructure/specs/error-formatting/spec.md
  openspec/changes/archive/2026-02-28-cli-infrastructure/specs/exit-codes/spec.md
  openspec/changes/archive/2026-02-28-cli-infrastructure/specs/typed-errors/spec.md
  openspec/changes/archive/2026-02-28-cli-infrastructure/specs/verbose-output/spec.md
  openspec/changes/archive/2026-02-28-cli-infrastructure/tasks.md
  openspec/specs/documents/document-loading/spec.md
  openspec/specs/models/typed-errors/spec.md
  openspec/specs/transformation/cli-framework/spec.md
  openspec/specs/transformation/document-transformation/spec.md
  openspec/specs/transformation/error-formatting/spec.md
  openspec/specs/transformation/exit-codes/spec.md
  openspec/specs/transformation/verbose-output/spec.md
Due: none

Update OpenSpec workflow to version 0.8.x
  .gitignore
  .opencode/agents/openspec-analyzer.md
  .opencode/agents/openspec-builder.md
  .opencode/agents/openspec-maintainer.md
  .opencode/commands/openspec-phase0.md
  .opencode/commands/openspec-phase1.md
  .opencode/commands/openspec-phase2.md
  .opencode/commands/openspec-phase3.md
  .opencode/commands/openspec-phase4.md
  .opencode/commands/openspec-phase5.md
  .opencode/commands/openspec-phase6.md
  .opencode/commands/opsx-changelog.md
  .opencode/commands/opsx-maintain-docs.md
  .opencode/commands/opsx-modify.md
  .opencode/commands/opsx-review.md
  .opencode/commands/opsx-verify-tests.md
  .opencode/manifest.json
  .opencode/scripts/lib/MANIFEST.json
  .opencode/scripts/lib/osc-baseline
  .opencode/scripts/lib/osc-complete
  .opencode/scripts/lib/osc-phase
  .opencode/scripts/lib/osc-validate
  .opencode/scripts/openspec-auto
  .opencode/skills/openspec-concepts/SKILL.md
  .opencode/skills/openspec-generate-changelog/SKILL.md
  .opencode/skills/openspec-maintain-ai-docs/SKILL.md
  .opencode/skills/openspec-modify-artifacts/SKILL.md
  .opencode/skills/openspec-review-artifacts/SKILL.md
  .opencode/skills/openspec-review-test-compliance/SKILL.md
Due: lint, test, release, mirror-to-github

Fix pre-commit hooks to avoid multi-directory errors
  .pre-commit-config.yaml
Due: lint, test, release, mirror-to-github

Add di-foundation OpenSpec change
  openspec/changes/di-foundation/.openspec.yaml
  openspec/changes/di-foundation/design.md
  openspec/changes/di-foundation/proposal.md
  openspec/changes/di-foundation/specs/dependency-injection/spec.md
  openspec/changes/di-foundation/tasks.md
Due: none

Introduce dependency injection pattern for CLI commands
  .mise/config.toml
  cmd/adapt.go
  cmd/canonicalize.go
  cmd/cmd_test.go
  cmd/config.go
  cmd/container.go
  cmd/error_formatter.go
  cmd/error_formatter_test.go
  cmd/error_handler.go
  cmd/root.go
  cmd/validate.go
  cmd/verbose.go
  cmd/verbose_test.go
  cmd/version.go
  main.go
  openspec/changes/di-foundation/tasks.md
Due: build-ci-image

Sync di-foundation specs to main
  openspec/specs/dependency-injection/spec.md
Due: none

Archive change di-foundation
  cmd/AGENTS.md
  openspec/changes/archive/2026-03-02-di-foundation/.openspec.yaml
  openspec/changes/archive/2026-03-02-di-foundation/design.md
  openspec/changes/archive/2026-03-02-di-foundation/proposal.md
  openspec/changes/archive/2026-03-02-di-foundation/specs/dependency-injection/spec.md
  openspec/changes/archive/2026-03-02-di-foundation/tasks.md
Due: none

Update goreleaser build path and add syft for SBOMs
  .goreleaser.yml
  .mise/config.toml
Due: build-ci-image, lint, test, release, mirror-to-github

Document E2E testing infrastructure with Ginkgo v2
  AGENTS.md
  test/AGENTS.md
Due: lint, test, release, mirror-to-github
