Repository amauryconstant/germinator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ci-image, lint, test, create-version-tag, release, mirror-to-github

build-ci-image:
  stage: build-ci
  image:
    name: docker:29.1.4-cli
  services:
  - name: docker:29.1.4-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    CI_REGISTRY: registry.gitlab.com
    CI_REGISTRY_IMAGE: $CI_REGISTRY/amoconst/germinator/ci
  before_script:
  - apk add --no-cache curl
  ...

lint:
  stage: validate
  needs:
  - setup
  cache:
    key:
      files:
      - .cache-key
    paths:
    - .cache/go-mod/
    - .go/pkg/mod/
    policy: pull
  interruptible: true
  script:
  - golangci-lint run

test:
  stage: validate
  needs:
  - setup
  cache:
    key:
      files:
      - .cache-key
    paths:
    - .cache/go-mod/
    - .go/pkg/mod/
    policy: pull
  script:
  - go test ./... -v

create-version-tag:
  stage: tag
  variables:
    GIT_STRATEGY: clone
  before_script:
  - git config user.email "$GITLAB_USER_EMAIL"
  - git config user.name "$GITLAB_USER_NAME"
  - git remote set-url origin "https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/amoconst/germinator"
  script:
  ...

release:
  stage: distribute
  needs:
  - lint
  - test
  image:
    name: goreleaser/goreleaser
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 0
    GITLAB_TOKEN: $CI_JOB_TOKEN
  before_script:
  ...

mirror-to-github:
  stage: distribute
  needs:
  - create-version-tag
  variables:
    GIT_STRATEGY: fetch
  script:
  - git remote add github "https://${GITHUB_ACCESS_TOKEN}@github.com/${GITHUB_REPO_URL}.git" || true
  - git push github "$CI_COMMIT_BRANCH" --force
  - git push github --tags --force
  interruptible: true

Update documentation for infrastructure-restructure
  AGENTS.md
  config/AGENTS.md
  internal/AGENTS.md
  internal/application/AGENTS.md
  internal/domain/AGENTS.md
  internal/models/AGENTS.md
  internal/service/AGENTS.md
  test/AGENTS.md
Due: lint, test, release, mirror-to-github

Complete self-reflection for infrastructure-restructure
  openspec/changes/infrastructure-restructure/reflections.md
Due: none

Archive change infrastructure-restructure
  openspec/changes/archive/2026-03-19-infrastructure-restructure/.openspec.yaml
  openspec/changes/archive/2026-03-19-infrastructure-restructure/decision-log.json
  openspec/changes/archive/2026-03-19-infrastructure-restructure/design.md
  openspec/changes/archive/2026-03-19-infrastructure-restructure/iterations.json
  openspec/changes/archive/2026-03-19-infrastructure-restructure/osx-orchestrate.log
  openspec/changes/archive/2026-03-19-infrastructure-restructure/proposal.md
  openspec/changes/archive/2026-03-19-infrastructure-restructure/reflections.md
  openspec/changes/archive/2026-03-19-infrastructure-restructure/specs/infrastructure-structure/spec.md
  openspec/changes/archive/2026-03-19-infrastructure-restructure/suggestions.md
  openspec/changes/archive/2026-03-19-infrastructure-restructure/tasks.md
  openspec/changes/archive/2026-03-19-infrastructure-restructure/verification-report.md
Due: none

Sync infrastructure-restructure specs to main
  openspec/specs/infrastructure-structure/spec.md
Due: none

Enhance golangci-lint configuration and fix linting errors
  .golangci.yml
  cmd/adapt.go
  cmd/canonicalize.go
  cmd/completions.go
  cmd/error_handler.go
  cmd/init.go
  cmd/library.go
  cmd/library_formatters.go
  cmd/validate.go
  internal/domain/errors.go
  internal/infrastructure/adapters/claude-code/claude_code_adapter.go
  internal/infrastructure/adapters/opencode/opencode_adapter.go
  internal/infrastructure/config/manager.go
  internal/infrastructure/parsing/parser.go
  internal/infrastructure/serialization/serializer.go
  internal/service/initializer.go
  internal/service/transformer.go
  openspec/changes/comprehensive-linting/tasks.md
Due: none

Update documentation for infrastructure interface extraction
  internal/application/AGENTS.md
  internal/service/AGENTS.md
  test/mocks/AGENTS.md
Due: lint, test, release, mirror-to-github

Fix release task argument passing to subtasks
  .mise/config.toml
  .mise/tasks/lib/release-lib.sh
Due: build-ci-image, lint, test, release, mirror-to-github

Suppress false-positive gosec warnings for intentional file operations
  .golangci.yml
  .mise/config.toml
  .pre-commit-config.yaml
  internal/infrastructure/library/loader.go
  internal/infrastructure/parsing/parser.go
  internal/infrastructure/parsing/platform_parser.go
  internal/infrastructure/serialization/serializer.go
  internal/service/canonicalizer.go
  internal/service/initializer.go
  internal/service/transformer.go
Due: build-ci-image, lint, test, release, mirror-to-github

Refactor documentation for clarity
  AGENTS.md
  ARCHITECTURE.md
  INSTALL.md
  README.md
  test/AGENTS.md
Due: lint, test, release, mirror-to-github

Refactor release workflow with shared library and phase-based tasks
  .mise/config.toml
  .mise/tasks/lib/release-lib.sh
  .mise/tasks/release/check
  .mise/tasks/release/prepare
  .mise/tasks/release/tag
  .mise/tasks/release/tag.sh
  .mise/tasks/release/validate.sh
  AGENTS.md
Due: build-ci-image, lint, test, release, mirror-to-github

Add extract-infrastructure-interfaces OpenSpec change
  openspec/changes/extract-infrastructure-interfaces/.openspec.yaml
  openspec/changes/extract-infrastructure-interfaces/design.md
  openspec/changes/extract-infrastructure-interfaces/proposal.md
  openspec/changes/extract-infrastructure-interfaces/specs/application/dependency-injection/spec.md
  openspec/changes/extract-infrastructure-interfaces/specs/infrastructure-interfaces/spec.md
  openspec/changes/extract-infrastructure-interfaces/tasks.md
Due: none

Release v0.7.0
  CHANGELOG.md
Due: lint, test, release, mirror-to-github

Review and iterate artifacts for comprehensive-linting
  openspec/changes/comprehensive-linting/design.md
  openspec/changes/comprehensive-linting/proposal.md
  openspec/changes/comprehensive-linting/tasks.md
Due: none

Update CHANGELOG.md with comprehensive version descriptions
  CHANGELOG.md
Due: lint, test, release, mirror-to-github

Extract infrastructure interfaces for testable services
  cmd/container.go
  internal/application/interfaces.go
  internal/infrastructure/parsing/parser_adapter.go
  internal/infrastructure/serialization/serializer_adapter.go
  internal/service/canonicalizer_test.go
  internal/service/initializer.go
  internal/service/initializer_mock_test.go
  internal/service/initializer_test.go
  internal/service/transformer.go
  internal/service/transformer_golden_test.go
  internal/service/transformer_mock_test.go
  internal/service/transformer_test.go
  openspec/changes/extract-infrastructure-interfaces/tasks.md
  test/mocks/parser_mock.go
  test/mocks/serializer_mock.go
Due: none

Add library-init change for library scaffolding
  openspec/changes/library-init/.openspec.yaml
  openspec/changes/library-init/design.md
  openspec/changes/library-init/proposal.md
  openspec/changes/library-init/specs/library-scaffolding/spec.md
  openspec/changes/library-init/tasks.md
Due: none

Review and iterate artifacts for extract-infrastructure-interfaces
  openspec/changes/extract-infrastructure-interfaces/design.md
  openspec/changes/extract-infrastructure-interfaces/proposal.md
  openspec/changes/extract-infrastructure-interfaces/specs/application/dependency-injection/spec.md
  openspec/changes/extract-infrastructure-interfaces/specs/infrastructure-interfaces/spec.md
  openspec/changes/extract-infrastructure-interfaces/tasks.md
Due: none

Add MIT license file
  LICENSE
Due: lint, test, release, mirror-to-github

Update openspec-extended to 0.18.2
  .opencode/manifest.json
  .opencode/scripts/osx-orchestrate
Due: lint, test, release, mirror-to-github

Add config-init-command change for config scaffolding and validation
  openspec/changes/config-init-command/.openspec.yaml
  openspec/changes/config-init-command/design.md
  openspec/changes/config-init-command/proposal.md
  openspec/changes/config-init-command/specs/config-commands/spec.md
  openspec/changes/config-init-command/tasks.md
Due: none

Add config init and validate commands
  cmd/command_config.go
  cmd/config.go
  cmd/config_test.go
  cmd/root.go
  openspec/changes/config-init-command/tasks.md
Due: none

Update documentation for config init and validate commands
  AGENTS.md
  cmd/AGENTS.md
Due: lint, test, release, mirror-to-github

Add config-commands spec for config init and validate
  openspec/specs/config-commands/spec.md
Due: none

Complete self-reflection for config-init-command
  openspec/changes/config-init-command/reflections.md
Due: none

Archive change config-init-command
  openspec/changes/archive/2026-03-30-config-init-command/.openspec.yaml
  openspec/changes/archive/2026-03-30-config-init-command/decision-log.json
  openspec/changes/archive/2026-03-30-config-init-command/design.md
  openspec/changes/archive/2026-03-30-config-init-command/iterations.json
  openspec/changes/archive/2026-03-30-config-init-command/osx-orchestrate.log
  openspec/changes/archive/2026-03-30-config-init-command/proposal.md
  openspec/changes/archive/2026-03-30-config-init-command/reflections.md
  openspec/changes/archive/2026-03-30-config-init-command/specs/config-commands/spec.md
  openspec/changes/archive/2026-03-30-config-init-command/tasks.md
  openspec/changes/archive/2026-03-30-config-init-command/verification-report.md
Due: none

Add library init command for scaffolding new libraries
  cmd/library.go
  cmd/library_init.go
  cmd/library_init_test.go
  internal/infrastructure/library/creator.go
  openspec/changes/library-init/tasks.md
  test/e2e/fixtures/document_fixtures.go
  test/e2e/library_init_test.go
Due: none

Update documentation for library init command
  AGENTS.md
  cmd/AGENTS.md
  internal/infrastructure/library/AGENTS.md
Due: lint, test, release, mirror-to-github

Complete self-reflection for library-init
  openspec/changes/library-init/reflections.md
  openspec/specs/library/library-scaffolding/spec.md
Due: none

Complete self-reflection iteration 2 for library-init
  openspec/changes/library-init/reflections.md
Due: none

Archive change library-init
  openspec/changes/archive/2026-03-30-library-init/.openspec.yaml
  openspec/changes/archive/2026-03-30-library-init/decision-log.json
  openspec/changes/archive/2026-03-30-library-init/design.md
  openspec/changes/archive/2026-03-30-library-init/iterations.json
  openspec/changes/archive/2026-03-30-library-init/osx-orchestrate.log
  openspec/changes/archive/2026-03-30-library-init/proposal.md
  openspec/changes/archive/2026-03-30-library-init/reflections.md
  openspec/changes/archive/2026-03-30-library-init/specs/library-scaffolding/spec.md
  openspec/changes/archive/2026-03-30-library-init/tasks.md
  openspec/changes/archive/2026-03-30-library-init/verification-report.md
Due: none

Follow XDG convention for library data path
  AGENTS.md
  cmd/AGENTS.md
  internal/infrastructure/library/AGENTS.md
  internal/infrastructure/library/discovery.go
  internal/infrastructure/library/discovery_test.go
  openspec/specs/config-commands/spec.md
  openspec/specs/library/library-scaffolding/spec.md
Due: none

Update config init to comment out all settings by default
  cmd/AGENTS.md
  cmd/config.go
  cmd/config_test.go
  openspec/specs/config-commands/spec.md
Due: none

Add library-add change for importing resources to library
  openspec/changes/library-add/.openspec.yaml
  openspec/changes/library-add/design.md
  openspec/changes/library-add/proposal.md
  openspec/changes/library-add/specs/library-resource-import/spec.md
  openspec/changes/library-add/tasks.md
Due: none

Add OpenSpec change for library preset creation command
  openspec/changes/create-library-preset-command/.openspec.yaml
  openspec/changes/create-library-preset-command/design.md
  openspec/changes/create-library-preset-command/proposal.md
  openspec/changes/create-library-preset-command/specs/library-preset-creation/spec.md
  openspec/changes/create-library-preset-command/tasks.md
Due: none

Improve build:local to use shared build task
  .mise/config.toml
Due: build-ci-image, lint, test, release, mirror-to-github

Review and iterate artifacts for library-add
  openspec/changes/library-add/proposal.md
  openspec/changes/library-add/specs/library-resource-import/spec.md
Due: none

Add library add command for importing resources
  cmd/library.go
  cmd/library_add.go
  internal/infrastructure/library/adder.go
  internal/infrastructure/library/adder_test.go
  openspec/changes/library-add/tasks.md
Due: none

Add E2E tests for library add command
  openspec/changes/library-add/tasks.md
  test/e2e/library_add_test.go
Due: none

Update documentation for library-add command
  AGENTS.md
  internal/infrastructure/library/AGENTS.md
  openspec/changes/library-add/tasks.md
Due: none

Sync library-resource-import specs to main
  openspec/specs/library/library-resource-import/spec.md
Due: none

Path conditions:
  build-ci-image: any of: Dockerfile.ci, .mise/config.toml
  lint: not (any of: openspec/**/*)
  test: not (any of: openspec/**/*)
  create-version-tag: any of: internal/version/version.go
  release: not (any of: openspec/**/*)
  mirror-to-github: not (any of: openspec/**/*)
